.account {
    &-title {
        margin-bottom: 10px;
        @include fz(32);
        font-weight: 700;

        @media(max-width:1024.99px){
            margin-bottom: 13px;
            @include fz(28);
        }
    }

    &-code {
        margin-bottom: 35px;
        color: #808080;

        @media(max-width:1024.99px){
            margin-bottom: 25px;
        }

        &-nuber {
            @include fz(18);
            font-weight: 600;
        }
    }

    &-body {
        margin-bottom: 90px;

        @media(max-width:1024.99px){
            margin-bottom: 50px;
        }

        @media(max-width:420.99px){
            margin-bottom: 55px;
        }

        &-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 16px 32px;
            margin-bottom: 16px;
            border: 1px solid #D3D3D3;
            border-radius: 8px;

            @media(max-width:420px){
                padding-left: 24px;
                padding-right: 24px;
            }
        }

        &-info {
            &-title {
                margin-bottom: 5px;
                @include fz(18);
                font-weight: 600;
            }

            &-description {
                @include fz(14);
                color: rgba(0, 0, 0, 0.5);
            }
        }

        &-btn {
            height: 40px;
            line-height: 40px;
            flex: 0 0 176px;
            max-width: 176px;
            background-color: #F5F5F5;
            font-weight: 600;
            border-radius: 5px;
            color: #000;
            transition: .3s background-color, .3s color, .3s border-color, .3s box-shadow;
            text-align: center;

            @media(max-width:390px){
              flex: 0 0 120px;
              max-width: 120px;
            }
            

            // &:hover {
            //     opacity: 0.5;
            //     transition: 0.3 ease all;
            //     background-color: #F5F5F5;
            //     color: #000;
            // }
        }

        &-sample{
            padding: 20px 32px 28px 32px;
            border: 1px solid #D3D3D3;
            border-radius: 8px;

            &-title {
                margin-bottom: 9px;
                @include fz(18);
                font-weight: 600;
            }

            &-progress {
                margin-bottom: 5px;
                @include fz(32);
                font-weight: 700;
            }

            &-bulk {
                margin-bottom: 19px;
                color: rgba(0, 0, 0, 0.5);
            }

            @media(max-width:420px){
                padding-left: 24px;
                padding-right: 24px;
            }
        }

        &-title {
            margin-bottom: 32px;
            @include fz(28);
            font-weight: 700;
        }
    }

    &-setup {
      margin-bottom: 24px;
      padding: 24px 32px 0 32px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
      border-radius: 8px;

      @media(max-width:420px){
        padding-left: 24px;
        padding-right: 24px;
      }

      &-top {
        display: flex;
        justify-content: space-between;
        position: relative;
        margin: 0 -32px 0 -32px;
        padding: 0 32px;
        border-bottom: 1px solid #D3D3D3;

        @media(max-width:420px){
            padding-left: 24px;
            margin: 0 -24px 0 -24px;
        }


         @media(max-width:400px) {
            padding-right: 60px;
        }
      
      }

      &-phone {
        margin-right: 10px;
      }

      &-middle {
        margin: 0 -32px 0 -32px;
        padding: 20px 32px 25px 32px;
        border-bottom: 1px solid #D3D3D3;

        @media(max-width:420px){
            padding-left: 24px;
            padding-right: 24px;
            margin: 0 -24px 0 -24px;
        }
      }

      &-bottom {
        padding-top: 25px;
        padding-bottom: 35px;

        @media(max-width:420px){
            padding-left: 24px !important;
            padding-right: 24px !important;
            margin: 0 -24px 0 -24px !important;
        }

        div:last-child {
            margin-bottom: 0;
        }

        .row:first-child {
            margin-bottom: 35px;

            @media(max-width:576.99px){
                margin-bottom: 0;
            }
        }

        .account-setup-para {
            margin-bottom: 18px;
        }
      }

      &-title {
        margin-bottom: 26px;
        @include fz(22);
        font-weight: 700;
      }

      &-item {
        margin-bottom: 3px;
        color: rgba(0, 0, 0, 0.5);
      }

      &-wrap {
        margin-bottom: 35px;
      }

      &-info {
        .account-setup-title {
            margin-bottom: 11px;
        }
      }

      &-description{
        margin-bottom: 20px;
        @include fz(14);
        color: rgba(0, 0, 0, 0.5);
      }

      &-para {
        margin-bottom: 10px;
        @include fz(18);
        font-weight: 600;

      }

      &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 18px;
      }

      &-delete {
        @include fz(14);

        @media(max-width:420.99px){
            display: none;
        }
      }
    }

    &-organization{
        padding-bottom: 35px;

        .account-setup-phone-name {
            display: inline-block;
            color: rgba(0, 0, 0, 0.5);

            @media(max-width:576.99px) {
                margin-left: 0;
                margin-top: 10px;
                display: block;
            }
        }

        .account-setup-phone-mail {
            display: inline-block;
            margin-right: 75px;

            @media(max-width:1024.99px){
                margin-right: 120px;
            }

            @media(max-width:420.99px){
                margin-right: 0;
            }
        }

        .account-setup-phone-number{
            display: inline-block;
            margin-right: 44px;
        }

        .account-setup-wrapper {
            display: flex;
            justify-content: space-between;
            margin-bottom: 18px;

        }
        .account-setup-bottom {
            padding-bottom: 25px;
            margin: 0 -32px 0 -32px;
            padding: 30px 32px 25px 32px;
            border-top: 1px solid #D3D3D3;
        }

        .account-setup-top {
            border: none;
        }

        .account-setup-middle{
            border-bottom: none;
            border-top: 1px solid #D3D3D3;
        }
        
    }

    .pb-0 {
        padding-bottom: 0;
    }
    .max-215 {
        @media(max-width:400px) {
              max-width: 215px;
        }
    }
    
}

.account-setup-edit-svg {
    position: absolute;
    right: 32px;
    width: 24px;
    height: 24px;
    stroke: #1A66AE;
    stroke-width:2;
    stroke-linecap:"round";
    stroke-linejoin:"round";

    &:hover {
      stroke: #2A4455; 
    }
}



.account-edit-btn {
    display: none;
    width: 176px;
    height: 40px;
    margin-top: -5px;
    line-height: 40px;
    @include fz(16);
    font-weight: 700;
}

.account-edit {
    box-shadow: none;
    border: 1px solid #BC0000;

    .account-edit-btn {
        display: block;

        @media(max-width:420.99px) {
            display: none;
        }
    }

    .account-setup-edit-link{
        display: none;

        @media(max-width:420.99px) {
            display: block;
            stroke: #BC0000;
        }
    }

    .account-setup-top {
        border-color: #BC0000;
    }
    .account-setup-middle{
        border-color: #BC0000;
    }
    .account-setup-bottom {
        border-color: #BC0000;
    }
    .account-setup-edit-svg {
        @media(max-width:420.99px) {
            stroke: #BC0000;
        }
    }

    .account-body-btn {
        background-color: #BC0000;
        color: #FFF;
        
        &:hover {
            background-color: #991C12;
        }
    }
}

.account-setup-mb {
    .account-setup-wrap {
        @media(max-width:576.99px) {
            margin-bottom: 35px !important;
        }
    }
    .mb-0 {
        @media(max-width:576.99px) {
            margin-bottom: 0 !important;
        }
    }
}

.account-adress-adaptive {
    .account-setup-wrapper {
        align-items: self-start;
    }

    .account-setup-adress {
        display: inline-block;
        margin-right: 10px;
    }
}


  .progress {
    position: relative;

    &-bar {
            display: flex;
            justify-content: space-between;
            li {
                height: 8px;
                width: 8px;
                border-radius: 50%;
                background: #D3D3D3;
            }
            .progress-bar-disable {
                position: absolute;
                top: 2px;
                z-index: -1;
                height: 4px;
                width: 100%;
                background: #D3D3D3;
            }
        
            .progress-bar-active {
                position: absolute;
                top: 2px;
                z-index: 2;
                height: 4px;
                margin: 0 2px;
                background: #2A4455;
            }
        
            .active {
                background-color: #2A4455;
            }
    }
  }
