.assistance {
    .request-body-info-wrap{
        @media(max-width:420.99px){
            margin-bottom: 30px;
        }
    }

    .request-body{
        margin-bottom: 88px;
    }

    &-form {
        max-width: 424px;
        margin: 0 auto;
    }
}