.cart {
  &-delete {
    display: flex;
    justify-content: space-between;
    padding-bottom: 19px;
    border-bottom: 1px solid #D3D3D3;

    .ui-checkbox {
      margin-bottom: 0;
    }

    .ui-checkbox-label::before {
      border: 1px solid #D3D3D3;
      top: 3px;
    }

    .ui-checkbox-label::after {
      top: 7px;
    }

    @media(max-width: 1024px) {
      border-bottom: none;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: -1000px;
        right: -1000px;
        height: 1px;
        bottom: 0;
        background-color: #D3D3D3;
      }
    }

    @media(max-width: 576px) {
      .ui-checkbox-label::before {
        width: 24px;
        height: 24px;
        top: -2px;
      }

      .ui-checkbox-label::after {
        top: 7px;
        left: 7px;
      }

      .ui-checkbox-label {
        margin-left: 8px;
      }
    }

    &-btn {
      color: rgba(0, 0, 0, 0.5);
      cursor: pointer;

      @media(max-width: 320px) {
        text-align: right;
      }

      &:hover {
        color: #5b5b5b;
      }
    }

    .ui-checkbox-label {
      color: #848484;
      font-size: 16px;
    }
  }

  &-list {
    margin-bottom: 88px;

    .ui-checkbox-label::before {
        border: 1px solid #D3D3D3;
      }

    @media(max-width: 1024px) {
      margin-bottom: 57px;
    }

    @media(max-width: 576px) {
      .ui-checkbox-label::before {
        width: 24px;
        height: 24px;
      }

      .ui-checkbox-label::after {
        top: 10px;
        left: 7px;
      }
    }

    .ui-checkbox {
      margin-right: 16px;

      @media(max-width: 320px) {
        margin-right: 6px;
      }
    }
  }

  &-img {
    @media(max-width: 576px) {
      max-width: 64px;
      height: 64px;
    }
  }

  &-item {
    display: flex;
    align-items: center;
    padding: 24px 0 42px 0;
    border-bottom: 1px solid #D3D3D3;

    @media(max-width: 576px) {
      padding: 23px 0 26px 0;
    }

    &:last-of-type {
      border-bottom: none;
    }

    @media(max-width: 1024px) {
      border-bottom: none;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: -1000px;
        right: -1000px;
        height: 1px;
        bottom: 0;
        background-color: #D3D3D3;
      }
    }

    @media(max-width: 576px) {
      align-items: flex-start;
    }

    &-value {
      @media(max-width: 1024px) {
        display: flex;
        align-items: center;
      }

      @media(max-width: 576px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &-headline {
      padding-right: 12px;
    }

    &-remove {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.5);
      margin-bottom: 10px;
      cursor: pointer;

      &:hover {
        color: #5b5b5b;
      }

      @media(max-width: 576px) {
        display: none;
      }
    }

    &-info {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      // flex-wrap: wrap;

      @media(max-width: 1024px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &-title {
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 10px;

      @media(max-width: 1024px) {
        max-width: 375px;
      }

      @media(max-width: 576px) {
        font-size: 16px;
        margin-bottom: 6px;
      }
    }

    &-subtitle {
      font-weight: 400;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.5);

      span {
        font-weight: 600;
      }
    }

    &-img {
      width: 100%;
      max-width: 112px;
      margin-right: 16px;

      @media(max-width: 576px) {
        max-width: 64px;
      }

      @media(max-width: 320px) {
        margin-right: 6px;
      }
    }

    &-txt {
      // flex: 0 0 375px;

      @media(max-width: 1024px) {
        margin-bottom: 19px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex: 0 0 100%;
      }

      @media(max-width: 576px) {
        margin-bottom: 22px;
      }
    }

    &-control {
      text-align: right;
      flex: 0 0 216px;

      // @media(max-width: 1398px) {
      //   margin-top: 15px;
      //   text-align: left;
      // }

      @media(max-width: 1024px) {
        flex: 0 0 100%;
        margin-top: 0;
        text-align: left;
      }


      .card-counter-btn {
        text-align: left;
      }

      .card-counter {
        margin-right: 0;

        @media(max-width: 1024px) {
          margin-bottom: 0;
          margin-right: 25px;
        }

        @media(max-width: 576px) {
          margin-bottom: 16px;
        }
      }
    }

    &-checkbox {
      flex: 0 0 20px;
      max-width: 20px;

      @media(max-width: 576px) {
        flex: 0 0 25px;
        max-width: 25px;
        margin-right: 16px;
      }

      @media(max-width: 320px) {
        margin-right: 6px;
      }
    }
  }

  &-count {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    flex-wrap: wrap;
    line-height: 1;

    // @media(max-width: 1398px) {
    //   justify-content: flex-start;
    // }

    @media(max-width: 1024px) {
      flex-direction: column-reverse
    }

    @media(max-width: 576px) {
      flex-direction: row;
    }

    &-sum {
      font-weight: 700;
      font-size: 22px;
      margin-right: 12px;

      &.margin {
        margin-right: 0;
      }
    }

    &-txt {
      font-weight: 700;
      font-size: 16px;
      color: #808080;
      text-decoration: line-through;
    }
  }

  &-order {
    padding: 26px 24px 32px 24px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
    border-radius: 8px;

    @media(min-width: 1024px) {
      &.sticky-box {
        position: fixed;
        top: 100px !important;
        max-width: 423px;
      }
    }

    @media(max-width: 1024px) {
      box-shadow: none;
      padding: 0;
      margin-bottom: 57px;
    }

    &-headline {
      font-weight: 700;
      font-size: 28px;
      margin-bottom: 24px;

      @media(max-width: 576px) {
        font-size: 22px;
        margin-bottom: 17px;
      }
    }

    &-info {
      position: relative;
      padding-bottom: 26px;
      // border-bottom: 1px solid #D3D3D3;
      margin-bottom: 22px;

      &::after {
        content: "";
        position: absolute;
        left: -24px;
        right: -24px;
        height: 1px;
        bottom: 0;
        background-color: #D3D3D3;

        @media(max-width: 1024px) {
          left: -1000px;
          right: -1000px;
        }
      }
    }

    &-txt {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: baseline;
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }

      .grey {
        color: rgba(0, 0, 0, 0.5);
        padding-right: 12px;
      }

      .black {
        font-weight: 700;
        font-size: 18px;
        color: #000;
      }
    }

    &-total {
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: baseline;
      padding-bottom: 22px;
      margin-bottom: 32px;
      // border-bottom: 1px solid #D3D3D3;

      &::after {
        content: "";
        position: absolute;
        left: -24px;
        right: -24px;
        height: 1px;
        bottom: 0;
        background-color: #D3D3D3;

        @media(max-width: 1024px) {
          left: -1000px;
          right: -1000px;
        }
      }

      .small-light {
        font-weight: 600;
        font-size: 18px;
        padding-right: 12px;
      }

      .big-bold {
        font-weight: 700;
        font-size: 32px;
      }
    }

    &-control {
      @media(max-width:1024px) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
      }

      @media(max-width: 576px) {
        flex-direction: column;
      }

      .ui-btn-block {
        margin-bottom: 17px;

        @media(max-width: 1024px) {
          max-width: 360px;
        }

        @media(max-width: 576px) {
          max-width: 100%;
        }
      }

      span {
        font-weight: 400;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.5);

        @media(max-width: 1024px) {
          max-width: 360px;
        }
      }
    }
  }
}