@media (max-width: 1024.99px) {
  .col-video-300,
  .col-yt-video {
    flex: 0 0 264px;
    max-width: 264px;
  }
}


.subcats {
  margin-bottom: 55px;

  &-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;

    @media (max-width: 1140px) {
      overflow-x: auto;
      margin-right: -40px;
      padding-right: 40px;
    }
    @media (max-width: 768.99px) {
      padding-right: 15px;
      margin-right: -15px;
    }
  }

  &-item {
    background-color: $disabled;
    border-radius: 8px;
    text-align: center;
    padding: 25px 15px;
    font-weight: 600;
    color: #000;
    line-height: 1.375;

    &-img {
      margin: 0 auto 10px;
      height: 95px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        display: block;
        max-height: 95px;
      }
    }
    &:hover {
      color: $secondary;
    }
  }

  @media (max-width: 1140px) {
    &-item {
      width: 192px;
    }
  }
  @media (max-width:576.99px) {
    margin-bottom: 30px;

    &-grid {
      gap: 16px;
    }

    // &-item {
    //   padding: 15px 10px;
    //   @include fz(14);

    //   &-img {
    //     height: 85px;

    //     img {
    //       max-height: 85px;
    //     }
    //   }
    // }
  }
}

.catalog-filters {
  position: relative;
  // min-height: 100%;
  padding-bottom: 70px;

  &-founded {
    padding: 0px 5px;
    background: #f5f5f5;
    height: 56px;
    line-height: 56px;
    text-align: center;
    border-radius: 8px;
    font-weight: 600;
    color: #848484;
    margin-bottom: 33px;

    span {
      color: #000;
    }
  }

  &-title {
    font-weight: 600;
    @include fz(14);
    margin-bottom: 15px;
  }

  &-prices {
    margin-bottom: 20px;
    margin-left: -4px;
    margin-right: -4px;

    [class*="col-"] {
      padding-left: 4px;
      padding-right: 4px;
    }
  }

  &-hidden {
    display: none;

    &.opened {
      display: block;
    }
  }

  &-filters {
    margin-bottom: 5px;
  }

  &-group {
    margin-bottom: 40px;
  }

  &-submit {
    &.fixed {
      position: fixed;
      z-index: 99;
      bottom: 25px;
    }
    &.fixed-bottom {
      position: absolute;
      z-index: 9;
      bottom: 25px;
    }
  }

  &-btn {
    display: block;
    width: 100%;
    position: relative;
    height: 56px;
    line-height: 54px;
    padding: 0px 61px 0px 5px;
    border-radius: 8px;
    border: 1px solid #f5f5f5;
    @include fz(18);
    background-color: #fff;
    color: #000;
    box-shadow: $shadow;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    transition: background-color .3s;

    &-icon {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 56px;
      border-left: 1px solid #f5f5f5;
      padding: 15px;
      background-color: #fff;
      border-radius: 0px 8px 8px 0;
      transition: background-color .3s, border-color .3s;

      svg {
        fill: $border;
        transition: fill .3s, transform .3s;
      }

      &:hover {
        background-color: #f5f5f5;
        border-left-color: #FFF;

        svg {
          transform: rotate(180deg);
          fill: #000;
        }
      }
    }

    &:hover {
      background-color: #f5f5f5;
    }
  }

  &-header {
    display: none;
  }
  
  @media (max-width: 1024.99px) {
    padding-bottom: 0;
    display: none;

    &.opened {
      display: block;
    }

    &-body {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: 199;
      width: 474px;
      max-width: 100%;
      background: #FFF;
      padding: 90px 45px 82px;
    }

    &-bg {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background: rgba(#1D262C,.7);
      z-index: 198;
      cursor: pointer;
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      border-bottom: 1px solid $border;
      padding: 0px 45px;
      height: 72px;

      &-title {
        @include fz(28);
        font-weight: 700;
      }
    }

    &-close {
      margin-right: -8px;
      width: 40px;
      height: 40px;
      min-width: 40px;
      margin-left: 10px;
      position: relative;
      cursor: pointer;

      &:before,
      &:after {
        content: "";
        position: absolute;
        left: 8px;
        right: 8px;
        top: 50%;
        margin-top: -1px;
        height: 2px;
        background: #000;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }

    &-scroller {
      overflow: hidden;
      overflow-y: auto;
      max-height: calc(100vh - 172px);
      margin-right: -15px;
      padding-right: 15px;
    }

    &-btn {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 0;
      border: 0;
      box-shadow: none;
      background-color: $secondary;
      z-index: 19;
      color: #FFF;
      border-radius: 0;
      height: 72px;
      line-height: 72px;
      padding-right: 77px;
      // padding-left: 77px;

      &-icon {
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        background-color: $secondary;
        border-radius: 0;
        width: 72px;
        padding: 20px;
  
        svg {
          fill: rgba(255, 255, 255, 0.5);
        }
  
        &:hover {
          background-color: $secondary_hover;
          border-left-color: #FFF;
  
          svg {
            transform: rotate(180deg);
            fill: #FFF;
          }
        }
      }
  
      &:hover {
        background-color: $secondary_hover;
      }
    }

    &-title {
      @include fz(18);
    }

    .ui-tooltip {
      display: none;
    }
  }

  @media (max-width: 576.99px) {
    &-body {
      padding-top: 80px;
      padding-left: 15px;
      padding-right: 15px;
    }

    &-header {
      height: 64px;
      padding: 0px 15px;

      &-title {
        @include fz(22);
      }
    }

    &-scroller {
      max-height: calc(100vh - 160px);
    }
  }
}
.catalog-filters-scroller::-webkit-scrollbar {
  width: 0;
  height: 0;
}


.catalog-settings {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: rgba(#000,.7);
  line-height: 24px;

  &-filters-col {
    display: none;
  }
  &-sort-col {
    flex: 1 0 auto;
    padding-right: 15px;
  }

  &-amount {
    display: inline-block;
    vertical-align: middle;
  }

  &-filters {
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    line-height: 24px;
    position: relative;
    padding-left: 28px;
    font-weight: 600;
    color: rgba(#000,.7);

    &:hover {
      color: #000;
    }

    svg {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0,-50%);
      width: 16px;
      height: 18px;
    }
  }

  @media (max-width: 1024.99px) {
    &-filters-col {
      display: block;
      flex: 1 0 auto;
    }
    &-sort-col {
      flex: 0 0 auto;
    }
    &-amount {
      display: none;
    }
  }

  @media (max-width: 768.99px) {
    &-sort-col {
      padding-right: 0px;
      max-width: calc(100% - 125px);
    }
  }
}
.catalog-settings-select {
  .jq-selectbox {
    &__select {
      height: 24px;
      line-height: 24px;
      border: 0;
      padding-left: 0;
      padding-right: 18px;
      color: rgba(#000,.7)
    }
    &__trigger {
      width: 18px;
    }
  }
}
.catalog-settings-sort-col {
  .jq-selectbox {
    &__select {
      padding-right: 35px;
    }
    &__trigger {
      width: 32px;
      background: url(../images/icons/catalog-products-arrows.svg) right center no-repeat;

      &-arrow {
        display: none;
      }
    }
  }
}


.catalog-marks {
  margin-bottom: 50px;

  &-list {
    max-height: 80px;
  }

  @media (max-width: 576.99px) {
    &-height {
      white-space: nowrap;
    }
  }
}
.catalog-stickers {
  margin-bottom: 47px;

  @media (max-width: 576.99px) {
    margin-bottom: 10px;
  }

  &-wrap {
    max-height: 40px;
    
    @media (max-width: 576.99px) {
      white-space: nowrap;
      overflow-x: auto;
      margin-right: -15px;
      padding-right: 15px;
    }
  }
}

.catalog {
  &-banner {
    overflow: hidden;
    margin-bottom: 31px;

    img {
      display: block;
      margin: 0 auto;
      border-radius: 8px;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  
  &-info {
    margin-bottom: 54px;

    &-body {
      max-height: 210px;
      margin-bottom: 25px;

      & > :last-child {
        margin-bottom: 0;
      }
    }

    h4, .h4, h5, .h5 {
      margin-bottom: 10px;
      margin-top: 20px;
    }
    
    ul {
      @extend .ui-list;
    }
  }
  &-question-and-acticles {
    margin-bottom: 60px;
  }
  &-question {
    @media (max-width: 1024.99px) {
      margin-bottom: 48px;
    }
    &-title {
      margin-bottom: 26px;
      font-weight: 700;
      font-size: rem(32);
    }
    &-item {
      margin-bottom: 8px;
      border-radius: 8px;
      cursor: pointer;
      &:hover {
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
      }
      &-title {
        padding: 17px 17px;
        background: #f5f5f5;
        padding-left: 56px;
        font-weight: 600;
        position: relative;
        border-radius: 8px;
        line-height: 1.375;

        .question-x {
          position: absolute;
          display: inline-block;
          transform: translate(0%, -50%);
          top: 50%;
          left: 24px;
          width: 16px;
          height: 16px;
          &:before,
          &:after {
            position: absolute;
            left: 8px;
            content: " ";
            height: 16px;
            width: 2px;
            background-color: #ffc100;
            border-radius: 2px;
          }
          &:before {
            transform: rotate(0deg);
          }
          &:after {
            transform: rotate(90deg);
          }
        }
      }
      &-text {
        display: none;
        padding: 15px 56px 27px 56px;

        @media (max-width: 576px) {
          padding: 15px 16px;
        }
      }
    }
  }
  &-video {
    margin-bottom: 40px;

    &-wrap {
      @media (max-width: 1024.99px) {
        margin-right: -40px;
        padding-right: 15px;
      }
      @media (max-width: 768px) {
        margin-right: -15px;
        padding-right: 15px;
      }
    }
    .row {
      @media (max-width: 1024.99px) {
        flex-wrap: nowrap;
        overflow-x: auto;
      }
    }
    .row::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    .row {
      -ms-overflow-style: none;
    }
    .row {
      overflow: -moz-scrollbars-none;
    }

    &-item {
      margin-bottom: 24px;
      @media (max-width: 576px) {
        text-align: center;
      }
      &-preview {
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 9px;
        line-height: 0;
        img {
          max-height: 176px;
        }
      }
      &-text {
        color: rgba(0, 0, 0, 0.5);
        font-weight: 600;
        font-size: rem(14);
      }
    }
  }
  &-brands {
    margin-bottom: 85px;

    @media (max-width: 768px) {
      margin-bottom: 50px;
    }

    &-main {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 24px;

      @media (max-width: 1024.99px) {
        margin-right: -15px;
        padding-right: 15px;
        overflow-x: auto;
      }
      @media (max-width: 576px) {
        grid-gap: 16px;
      }
    }
    &-title {
      display: inline-block;
      font-weight: 700;
      font-size: rem(32);
      @media (max-width: 576px) {
        font-size: rem(22);
      }
    }
    &-btn {
      display: inline-block;
      color: #000;
      @media (max-width: 450px) {
        width: 100%;
      }
    }
    .feedback_link {
      @media (max-width: 450px) {
        margin-bottom: 56px;
      }
    }
    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 80px;
      padding: 10px;
      border-radius: 8px;
      transition: 0.3s ease box-shadow;

      img {
        max-height: 60px;
      }

      &:hover {
        box-shadow: $shadow;
      }
    }
  }
  &-articles {
    &-title {
      margin-bottom: 24px;
    }
    &-item {
      box-shadow: $shadow;
      border-radius: 8px;
      overflow: hidden;
      min-height: 100%;

      &-img {
        line-height: 0;
        margin-bottom: 17px;

        img {
          max-height: 192px;
        }
      }
      &-content {
        padding: 0px 24px 20px 24px;
      }
      &-date {
        font-size: rem(14);
        color: $gray_trn;
        margin-bottom: 11px;
      }
      &-title {
        font-weight: 700;
        margin-bottom: 5px;
        line-height: 1.375;
      }
      &-text {
        font-size: rem(14);
        margin-bottom: 17px;
      }
      &-link {
        font-weight: 600;
        color: $colorBlue;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    @media (max-width: 576px) {
      &-item {
        &-content {
          padding-left: 16px;
          padding-right: 16px;
        }
        &-text {
          margin-bottom: 12px;
        }
        &-date {
          margin-bottom: 8px;
        }
      }
    }
  }
}

.contactback {
  padding: 64px 0px 44px;
  position: relative;
  z-index: 1;

  &:before {
    content: "";
    position: absolute;
    left: -3000px;
    right: -3000px;
    z-index: -1;
    top: 0;
    bottom: 0;
    background-color: $disabled;
  }

  &-item {
    min-height: calc(100% - 20px);
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    background: #ffffff;
    padding: 32px 40px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1;
    
    .main-search-form {
      @media (max-width: 1024.99px) {
        display: block;
      }
    }

    &-input {
      padding-right: 95px;

      &:hover {
        border-color: $primary;
      }
      &:focus {
        border-color: $primary_hover;
      }
    }

    &-head {
      margin-bottom: 27px;
    }

    &-title {
      font-weight: 700;
      @include fz(22);
      margin-bottom: 9px;
      max-width: 375px;
      line-height: 1.33;
    }
    &-text {
      @include fz(16);
      color: $gray;
      line-height: 1.375;
    }
    &-info {
      color: $gray_trn;
      @include fz(12);

      a {
        color: #1a66ae;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &-bg {
      position: absolute;
      right: -4px;
      bottom: -6px;
      z-index: -1;
      @media (max-width: 680px) {
        display: none;
      }
    }

    @media (max-width: 1024.99px) {
      padding: 45px 32px 50px;
    }
  
    @media (max-width: 576px) {
      padding: 21px 16px;
      margin-bottom: 16px;
      min-height: calc(100% - 16px);
  
      &-head {
        margin-bottom: 15px;
      }
      &-title {
        @include fz(18);
        font-weight: 600;
        margin-bottom: 5px;
      }
    }
  }
  .main-search-form {
    max-width: 352px;
    margin-bottom: 17px;
  }
  .main-search-btn {
    background: $primary;
    transition: .3s background-color;

    &:hover {
      background: $primary_hover;
    }
  }

  @media (max-width: 576px) {
    padding: 40px 0px 24px;

    .main-search-form {
      margin-bottom: 15px;
    }
  }
}

.video-card {
  margin: 0 auto 22px;
  max-width: 648px;
  font-weight: 600;

  &-link {
    display: block;
    position: relative;
    margin-bottom: 9px;
    overflow: hidden;
    border-radius: 8px;

    img {
      display: block;
      margin: 0 auto;
      border-radius: 8px;
      transition: transform .3s;
    }

    &-btn {
      position: absolute;
      display: inline-block;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      background: #bc0000;
      border-radius: 8px;
      width: 80px;
      height: 40px;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 0 10px 15px;
        border-color: transparent transparent transparent #fff;
      }
    }

    &:hover {
      img {
        transform: scale(1.03);
      }
    }
  }
  &-title {
    @include fz(14);
    color: $gray_trn;
    line-height: 1.35;
  }
}
.col-12 {
  @media (min-width: 1025px) {
    .video-card-link-btn {
      width: 124px;
      height: 64px;

      &:after {
        border-width: 16px 0 16px 24px;
      }
    }
    .video-card-title {
      @include fz(16);
    }
  }
}


.catalog-calc {
  padding-top: 54px;
  padding-bottom: 20px;
  // background: #f5f5f5;
  margin-bottom: 64px;
  position: relative;
  z-index: 1;

  &:before {
    content: "";
    position: absolute;
    left: -3000px;
    right: -3000px;
    z-index: -1;
    top: 0;
    bottom: 0;
    background-color: $disabled;
  }

  &-title {
    @include fz(32);
    font-weight: 700;
    margin-bottom: 45px;
    line-height: 1.375;

    span {
      color: $colorBlue;
      // border-bottom: 1px solid  $colorBlue;
      text-decoration: underline;
      text-decoration-thickness: 1px;
    }

    @media (max-width: 1024.99px) {
      @include fz(28);
      margin-bottom: 40px;
      text-align: center;
    }

    @media (max-width: 576.99px) {
      @include fz(22);
      margin-bottom: 30px;
    }
  }

  &-field {
    margin-bottom: 35px;
    flex-direction: column;
    height: calc(100% - 35px);
    display: flex;
    justify-content: space-between;

    @media (max-width: 576px) {
      height: calc(100% - 20px);
      margin-bottom: 20px;
    }
    &-title {
      @include fz(18);
      font-weight: 600;
      margin-bottom: 8px;
    }
    &-text {
      margin-bottom: 21px;
    }
    &-field {
      width: 144px;
      max-width: 100%;
    }
  }

  &-right {
    text-align: center;
    padding-top: 10px;
    max-width: 312px;
    margin-left: auto;
  }
  &-res {
    @include fz(80);
    font-weight: 700;
    margin-bottom: 24px;

    &-unit {
      @include fz(18);
      margin-left: 3px;
    }
  }
  &-btn {
    display: block;
    width: 100%;
    padding-left: 20px;
    padding-right: 76px;
    position: relative;

    &-icon {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 56px;
      border-left: 1px solid rgba(255,255,255,.5);
      background-color: $secondary;
      padding: 15px;
      border-radius: 0px 8px 8px 0;
      transition: background-color .3s;

      svg {
        fill: rgba(255,255,255,.5);
        transition: fill .3s, transform .3s;
      }
      &:hover {
        background-color: $secondary_hover;

        svg {
          fill: #FFF;
          transform: rotate(180deg);
        }
      }
    }
  }

  @media (max-width: 1024.99px) {
    padding-bottom: 35px;

    &-right {
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media (max-width: 576.99px) {
    padding-top: 40px;
    margin-bottom: 55px;

    &-field {
      &-title {
        margin-bottom: 6px;
      }
      &-text {
        margin-bottom: 15px;
      }
    }
    &-right {
      padding-top: 0;
      margin-top: -10px;
    }
  }
}
// Style for sticker hide
.sticker-hidden {
  display: none;
}
.sticker-hidden-open {
  display: inline-block;
}
.sticker-hidden-openB {
  display: block;
}
// Catalog-field style

.catalog-products-price-input {
  width: 100%;
  gap: 8px;
  margin-bottom: 30px;
}

.catalog-products-price-input .catalog-products-price-field {
  display: inline-block;
  height: 40px;
}

.catalog-products-price-field input {
  width: 100%;
  height: 100%;
  padding: 0px 16px;
  outline: none;
  font-size: 19px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  color: #d3d3d3;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.catalog-products-slider .progress {
  height: 100%;
  left: 0;
  right: 0;
  position: absolute;
  border-radius: 5px;
  background: #071c28;
}

.catalog-products-range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: 1px;
  padding: 0;
  margin: 0;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #071c28;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #071c28;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

// Checkbox open/close

.checkbox-hide {
  display: none;
}

.checkbox-on {
  display: inline-block;
}

.sticker-hidden-open-info {
  display: block;
}

.catalog-question-toggle {
   box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  .catalog-question-item-text {
    display: inline-block;
  }
  .question-x {
    &::before {
      transform: rotate(90deg);
    }
  }
}

// Error mail
.catalog-search-form {
  span.error {
    position: absolute;
    left: 0;
    bottom: -15px;
    color: $colorRed;
    font-size: rem(12);
  }
}

.range-slider {
  position: relative;
}
.irs--round {
  height: initial;
}
.irs--round .irs-bar {
  top: 0;
}

.irs--round .irs-line {
  top: -1px;
  height: 2px;
}
.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-single {
  display: none;
}
.irs--round .irs-min,
.irs--round .irs-max {
  display: none;
}

.irs--round .irs-handle {
  background: #071c28;
  border: 4px solid #071c28;
  height: 16px;
  width: 16px;
  top: -7px;
  &:hover {
    background: #071c28;
  }
}

.irs--round .irs-handle.state_hover {
  background: #071c28;
}

.irs--round .irs-bar {
  background-color: #071c28;
  height: 2px;
}
.catalog-style {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  margin-right: -2px;

  &-toggler {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    padding: 3px;
    margin-left: 15px;
    border-radius: 8px;

    svg {
      fill: $border;
    }

    &:hover {

      svg {
        fill: $colorDark;
      }
    }

    &.active {
      cursor: default;

      svg {
        fill: $colorDark;
      }
    }
  }

  @media (max-width: 768px) {
    display: none;
    visibility: hidden;
  }
}

@media (min-width: 681px) and (max-width: 1170px) {
  .col-product-card {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
[data-style="grid"] {
  @media (max-width: 1024.99px) {
    .product-card {
      display: flex;
      padding: 16px;

      &-top {
        flex: 0 0 92px;
        max-width: 92px;

        .product-card-code {
          display: block;
          white-space: normal;
          padding-left: 0;
          margin-right: -5px;
        }
      }
      &-mid {
        width: 100%;
        padding-left: 16px;
      }

      &-topline {
        position: static;
        margin-bottom: 8px;
      }
      &-sticker {
        padding: 0px 5px;
        max-width: 100%;
        margin-right: 0;
      }
      &-arrow {
        display: none;
      }
      &-img {
        margin-bottom: 8px;
      }
      &-rateline {
        display: none;
      }
      &-title {
        margin-bottom: 8px;
      }
      &-characters {
        position: static;
        padding: 0;
        opacity: 1;
        visibility: visible;
        box-shadow: none;
        border-radius: 0;
        margin-bottom: 8px;

        &:before {
          content: none;
        }
      }
      &-btn {
        font-size: 0;
        padding: 5px;

        svg {
          display: block;
          visibility: visible;
          margin: 0 auto;
        }
      }
      &-btns {
        width: 180px;
        max-width: 100%;
      }
    }
  }
}

[data-style="line"] {

  @media (min-width: 768px) {
    [class*="col-"] {
      max-width: 100%;
      flex: 100%;
    }

    .product-card {
      display: flex;
      margin-bottom: 16px;

      &-top {
        flex: 0 0 180px;
        max-width: 180px;
      }
      &-mid {
        width: 100%;
        padding-left: 16px;
        display: flex;
      }
      &-info {
        display: flex;
        flex-direction: column;
        padding-right: 5%;
        width: 100%;
      }
      &-store {
        flex: 0 0 180px;
        max-width: 180px;
      }
      &-title {
        height: auto;
        order: -1;
      }
      &-rateline {
        margin-bottom: 13px;
        display: block;

        & > * {
          display: inline-block;
          vertical-align: middle;
        }
      }
      &-rate {
        margin-right: 15px;
      }
      &-characters {
        position: static;
        padding: 0;
        opacity: 1;
        visibility: visible;
        box-shadow: none;
        border-radius: 0;

        &:before {
          content: none;
        }
      }
      &-prices {
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }

  @media (max-width: 1140px) and (min-width: 768px) {
    .product-card {
      &-btn {
        font-size: 0;
        padding: 5px;

        svg {
          display: block;
          visibility: visible;
          margin: 0 auto;
        }
      }
    }
  }

  @media (min-width: 1140px) {
    .product-card {

      &-top {
        flex: 0 0 220px;
        max-width: 220px;
      }
      &-mid {
        padding-left: 40px;
      }
      &-store {
        flex: 0 0 260px;
        max-width: 260px;
      }
    }
  }
}

.catalog-img-opacity {
  img {
    opacity: 0.3;
  }
}


//Article-arrow
.slider_article {
  position: relative;
  padding: 10px;
  margin: -10px;

  .ui-arrow-prev {
    left: 18px;
  }
  .ui-arrow-next {
    right: 18px;
  }

  @media (max-width: 1024.99px) {
    margin-right: -25px;
    padding-right: 12px;
    overflow-x: auto;
  }
  @media (max-width: 450px) {
    margin-bottom: 15px;
  }
  .swiper-slide {
    @media (max-width: 1024.99px) {
      flex: 0 0 424px;
      max-width: 75vw;
      margin-right: 24px;
    }
    @media (max-width: 576px) {
      margin-right: 16px;
    }
  }
}
/* хром, сафари */
.swiper-wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* ie 10+ */
.swiper-wrapper {
  -ms-overflow-style: none;
}

/* фф (свойство больше не работает, других способов тоже нет)*/
.swiper-wrapper {
  overflow: -moz-scrollbars-none;
}


// Скрытие скролл бара

.catalog-stickers-wrap::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.catalog-stickers-wrap {
  -ms-overflow-style: none;
}
.catalog-stickers-wrap {
  overflow: -moz-scrollbars-none;
}

.catalog-brands-main::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.catalog-brands-main {
  -ms-overflow-style: none;
}
.catalog-brands-main {
  overflow: -moz-scrollbars-none;
}

.subcats-grid::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.subcats-grid {
  -ms-overflow-style: none;
}
.subcats-grid {
  overflow: -moz-scrollbars-none;
}

.catalog-products-img-open {
  background-image: url(.././images/icons/red-cross.svg);
}

// Стили для скрытие стикера
.wrap-remove {
  max-height: 80px;
  overflow: hidden;
}
.wrap-toggle {
  max-height: initial;
  overflow: auto;
}
.btn-setting-none {
  display: none;
}
.catalog-slider-adaptive {
  .product-item {
    max-width: 312px;
    height: initial;
  }
}


.swiper-button-disabled .article-button-next-img {
  opacity: 0.5;
}
.article-button-next-img {
  position: absolute;
  width: 8px;
  height: 18px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.catalog-products-filter-section {
  .jq-selectbox__select-text {
    // background: url("../images/icons/section-arrow.svg") no-repeat right;
    // background-position: right 5px center;
  }
}
.dropdown {
  .jq-selectbox__select-text {
    // background: url("../images/icons/section-arrow-up.svg") no-repeat right !important;
    // background-position: right 5px center;
  }
}
.catalog-filter-wrap {
  position: relative;
}



// Показываем/убираем кнопку "Показать х товаров" 
.catalog-search-open {
  display: flex;
}

@media (max-width: 1024.99px) {
  .catalog-articles-mobile {
    .ui-scroller {
      display: flex;
      padding: 10px;
      margin: -10px -40px -10px -10px;
    }
  }
  .catalog-articles-item {
    margin-right: 24px;
    flex: 0 0 424px;
    max-width: 75vw;
  }
}
@media (max-width: 768px) {
  .catalog-articles-mobile {
    .ui-scroller {
      margin-right: -15px;
    }
  }
}
@media (max-width: 576px) {
  .catalog-question-and-acticles {
    margin-bottom: 45px;
  }
  .catalog-articles-mobile {
    margin-bottom: 24px;
  }
  .catalog-articles-item {
    margin-right: 16px;
    flex: 0 0 340px;
    max-width: 80vw;
  }
}


.catalog-reviews {
  margin: -10px;
  padding: 10px;

  .swiper-slide {
    height: auto;
  }
  .ui-arrow-prev {
    left: 18px;
  }
  .ui-arrow-next {
    right: 18px;
  }
}
@media (max-width: 1024.99px) {
  .catalog-reviews-mobile {
    
    .ui-scroller {
      display: flex;
      padding: 10px;
      margin: -10px;
      margin-right: -40px;
    }
    .review-card {
      flex: 0 0 648px;
      max-width: 80vw;
      margin-right: 24px;
      min-height: 100%;
      height: auto;
    }
  }
}

@media (max-width: 768.99px) {
  .catalog-reviews-mobile {
    
    .ui-scroller {
      margin-right: -15px;
    }
  }
}

@media (max-width: 576.99px) {
  .catalog-reviews-mobile {
    margin-bottom: 24px;
    
    .review-card {
      flex: 0 0 340px;
      margin-right: 16px;
    }
  }
}


.catalog-related-swiper {
  margin: -10px -10px 0;
  padding: 10px 10px 70px;

  .ui-arrow {
    top: calc(50% - 35px - 12px);
  }
  .ui-arrow-prev {
    left: 18px;
  }
  .ui-arrow-next {
    right: 18px;
  }
}

@media (max-width: 1024.99px) {
  .catalog-related-mobile {
    margin-bottom: 25px;

    .ui-scroller {
      margin: -10px;
      padding: 10px;
      margin-right: -40px;
      display: flex;
    }
    .slider-product {
      flex: 0 0 264px;
      margin-right: 24px;
    }
  }
}
@media (max-width: 768.99px) {
  .catalog-related-mobile {

    .ui-scroller {
      margin-right: -15px;
    }
  }
}
@media (max-width: 576px) {
  .catalog-related-mobile {
    
    .slider-product {
      margin-right: 16px;
    }
  }
}


.slider-product {
  padding: 16px 20px;
  margin-bottom: 24px;
  box-shadow: $shadow;
  position: relative;
  border-radius: 8px;
  @include fz(14);

  &-img {
    margin-bottom: 8px;

    &-link {
      position: relative;
      display: block;
      padding-bottom: 100%;
      padding-bottom: Min(100%,280px);

      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-height: 100%;
        max-width: 100%;
      }
    }
  }

  &-topline {
    position: absolute;
    left: 20px;
    top: 16px;
    right: 20px;
    z-index: 1;
  }
  &-sticker {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    height: 24px;
    line-height: 24px;
    padding: 0px 16px;
    background-color: $colorDark;
    border-radius: 5px;
    color: #FFF;
    max-width: calc(100% - 45px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
    cursor: pointer;
  }
  &-stickers {
    display: none;
    padding-top: 8px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(255,255,255,0.8);
      z-index: -1;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      height: 80px;
      background: linear-gradient(180deg,rgba(255,255,255,0.8), rgba(255,255,255,0));
      z-index: -1;
    }
  }
  &-arrow {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 36px;
    height: 24px;
    line-height: 22px;
    border: 1px solid $border;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: border .15s;

    &-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      fill: $border;
      transform: translate(-50%, -50%);
      width: 12px;
      height: 12px;
      transition: transform .15s;
    }

    &:hover {
      border-color: $colorDark;

      .slider-product-arrow-icon {
        fill: $colorDark;
      }
    }
  }

  &-midline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
  }
  &-rate {
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    line-height: 22px;
    padding: 0px 14px;
    border: 1px solid $yellow;
    border-radius: 5px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    
    &-icon {
      position: relative;
      top: -2px;
      vertical-align: middle;
      width: 14px;
      height: 12px;
      margin-right: 3px;
      fill: $yellow;
    }
  }
  &-code {
    color: $gray_trn;
    white-space: nowrap;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;

    &-code {
      font-weight: 600;
    }
  }

  &-title {
    @include fz(16);
    font-weight: 700;
    line-height: 1.375;
    margin-bottom: 13px;
    height: 44px;
    overflow: hidden;

    &-link {
      color: #000;
      transition: color .3s;

      &:hover {
        color: $colorDark;
      }
    }
  }

  &-prices {
    margin-bottom: 10px;

    & > * {
      display: inline-block;
      margin-right: 15px;
      margin-bottom: 5px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-price {
    @include fz(22);
    font-weight: 700;

    &-red {
      @include fz(22);
      font-weight: 700;
      color: $primary
    }
    &-old {
      text-decoration: line-through;
      color: $gray;
      @include fz(16);
    }

    &-unit {
      font-weight: 400;
      @include fz(16);
    }
  }

  &-btns {
    display: flex;
    align-items: center;
    margin-right: -8px;
  }
  &-btn {
    margin-bottom: 0;
    margin-right: 8px;
    flex: 0 0 calc(100% - 104px);

    &.disabled {
      cursor: not-allowed;
      background-color: $disabled !important;
      color: $border !important;
    }
  }

  &-characters {
    position: absolute;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
    top: 100%;
    padding: 0px 20px 16px;
    background-color: #FFF;
    box-shadow: $shadow;
    border-radius: 0px 0px 8px 8px;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: -16px;
      height: 16px;
      background: #FFF;
    }
  }
  &-character {
    margin-bottom: 2px;
    color: $gray_trn;

    &-value {
      color: #000;
      font-weight: 600;
    }
  }

  &.opened {
    @media (min-width: 1025px) {
      .slider-product-stickers {
        display: block;
      }
      .slider-product-arrow-icon {
        transform: translate(-50%, -50%) rotate(180deg);
      }
    }
  }

  .ui-action {
    z-index: 2;
  }

  &:hover {
    @media (min-width: 1025px) {
      .slider-product-characters {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  @media (max-width: 1024.99px) {
    &-btn {
      flex: 0 0 calc(100% - 56px);
    }
    .ui-action-compare {
      display: none;
    }
  }
}