@media (min-width: 300px) {
  .col-video-300 {
    -webkit-box-flex: 0;
    flex: 0 0 312px;
    max-width: 312px;
  }
}

.catalog {
  .card-interest-wrap {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 24px;
    @media (max-width: 1024px) {
      margin-right: -15px;
      padding-right: 15px;
      overflow-x: auto;
      .row:first-child {
        flex-wrap: nowrap;
      }
    }
  }
  .card-interest-item {
    width: 200px;
    flex-direction: column;
    text-align: center;
    padding: 25px 18px;
    overflow: hidden;
    &-img {
      min-width: initial;
      max-width: 95px;
      margin-right: 0;
      margin-bottom: 10px;
    }
    &:hover {
      .card-interest-item-txt {
        // background-color: initial;
        color: #2a4455;
      }
    }
  }
  .card-interest-title {
    font-size: rem(40);
    @media (max-width: 650px) {
      font-size: rem(32);
    }
    @media (max-width: 450px) {
      font-size: rem(22);
    }
  }
  .popup-youtube-wrapper {
    p {
      font-size: rem(14);
      font-weight: 600;
      color: rgba(0, 0, 0, 0.5);
    }
  }
  .card-item-rating {
    display: none;
  }
  .reviews.ui-btn.all {
    margin-right: 0;
  }
  &-stickers {
    margin-bottom: 55px;
    &-wrap {
      display: block;
      a {
        color: #000;
      }
      @media (max-width: 576px) {
        white-space: nowrap;
        overflow-x: auto;
        margin-right: -15px;
        padding-right: 15px;
      }
    }
    .ui-sticker {
      border: 1px solid #d3d3d3;
      font-weight: 600;
      margin-bottom: 8px;
      white-space: nowrap;
      &:hover {
        border: 1px solid #2a4455;
        color: #2a4455;
      }
    }
    &-btn {
      border: 1px solid #d3d3d3;
      margin-right: 0px;

      &-text {
        display: inline-block;
      }
      &-img {
        display: inline-block;
        margin-right: 8px;
        max-width: 10px;
        img {
          max-height: 10px;
        }
      }
    }
    .sticker_item {
      @media (max-width: 576px) {
        display: none;
      }
    }
  }

  &-products {
    margin-bottom: 46px;
    @media (max-width: 576px) {
      margin-bottom: 40px;
    }

    &-title {
      margin-bottom: 22px;
      font-size: rem(32);
      font-weight: 700;
      @media (max-width: 576px) {
        font-size: rem(28);
      }
    }
    &-stickers {
      .ui-sticker {
        background-color: #f5f5f5;
        border: 1px solid #ffffff00;
      }
    }
    &-wrap {
      @media (max-width: 1024px) {
        display: none;
      }
    }
    &-banner {
      border-radius: 8px;
      overflow: hidden;
      margin-bottom: 31px;
    }
    &-search {
      width: 100%;
      padding: 0px 5px;
      background: #f5f5f5;
      height: 56px;
      line-height: 56px;
      text-align: center;
      border-radius: 8px;
      font-weight: 600;
      color: #848484;
      margin-bottom: 33px;
      span {
        color: #000;
      }
    }
    &-field {
      margin-bottom: 33px;
      &-title {
        font-weight: 600;
        font-size: rem(14);
        margin-bottom: 12px;
      }
      &-container {
        margin-bottom: 16px;
      }
      &-label {
        display: block;
        margin-bottom: 12px;
        font-size: rem(14);
        font-weight: 600;
      }
      &-input {
        border: 1px solid #d3d3d3;
        border-radius: 5px;
        height: 40px;
        padding: 0px 16px;
        color: #d3d3d3;
        &::placeholder {
          color: #d3d3d3;
        }
        -moz-appearance: textfield;
      }
      &-checkbox {
        border: 1px solid #848484;
        border-radius: 3px;
      }
      &-btn {
        width: 100%;
        font-size: rem(14);
        height: 32px;
        line-height: 32px;
        background: #f5f5f5;
      }
      &-text {
        display: inline-block;
      }
      &-img {
        display: inline-block;
        margin-right: 8px;
        height: 12px;
        width: 12px;
        max-width: 12px;
        background-image: url(.././images/icons/green-cross.svg);
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    &-slider {
      height: 2px;
      border-radius: 5px;
      background: #d3d3d3;
      position: relative;
      &-progress {
        height: 2px;
        position: absolute;
        left: 25%;
        right: 25%;
        border-radius: 5px;
        background: #071c28;
      }
    }
    &-range {
      position: relative;
      &-input {
        position: relative;
        top: -4px;
        height: 2px;
        width: 100%;
        pointer-events: none;
        background: none;
        -webkit-appearance: none;
      }
    }
    &-bar {
      display: flex;
      justify-content: space-between;
      margin-bottom: 35px;
      .catalog-products-filter-filters {
        display: none;
      }
      @media (max-width: 1024px) {
        .catalog-products-filter-txt {
          display: none;
        }
        .catalog-products-filter-section {
          display: none;
        }
        .catalog-products-filter-filters {
          display: flex;
        }
      }
    }
    &-filter {
      display: flex;
      align-items: center;
      @media (max-width: 430px) {
        img {
          display: none;
        }
      }
      .catalog-products-filter-popular {
        display: none;
        position: relative;
        width: 210px;
        margin-right: 15px;
        padding-right: 35px;
        outline: none;
        border: none;
        appearance: none;
        color: #000000a8;
        font-size: rem(16);
        cursor: pointer;
        background: url("../images/icons/catalog-products-arrows.svg") no-repeat
          right;
        background-position: right 2px center;
        option {
          background-color: #ffffff;
          &:hover {
            background-color: #f5f5f5;
          }
        }
        // &:hover {
        //   opacity: 0.7;
        // }
        @media (max-width: 500px) {
          margin-right: 0;
        }
      }
      // &-txt {
      //   margin-right: 8px;
      //   opacity: 0.7;
      // }
      &-section {
        width: 40px;
        margin-bottom: -4px;
        margin-left: 5px;
        border: none;
      }

      &-filters {
        display: flex;
        align-items: center;
        font-weight: 600;
        cursor: pointer;
        color: #000;
        img {
          margin-right: 12px;
        }
        &:hover {
          opacity: 0.5;
        }
      }
      img {
        margin-left: 20px;
        cursor: pointer;
        &:hover {
          opacity: 0.5;
        }
      }
      .filter-img {
        margin-left: 0;
      }
    }

    &-pagintaion {
      margin-bottom: 45px;
      &-more {
        display: inline-block;
        width: 100%;
        height: 48px;
        line-height: 48px;
        text-align: center;
        color: #000000;
        background-color: #f5f5f5;
        border-radius: 5px;
        margin-bottom: 30px;
        &:hover {
          opacity: 0.5;
        }
      }
      &-btns {
        display: flex;
        justify-content: center;
        img {
          cursor: pointer;
          &:hover {
            opacity: 0.5;
          }
          &:first-child {
            margin-right: 16px;
          }
          &:last-child {
            margin-left: 16px;
          }
        }
      }
      &-btn {
        width: 40px;
        height: 40px;
        margin-right: 8px;
        line-height: 40px;
        border-radius: 5px;
        text-align: center;
        color: #000;
        &:hover {
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
        }
      }
      &-dots {
        position: relative;
        display: inline-block;
        height: 40px;
        width: 40px;
        font-weight: 600;
        margin-right: 16px;
        .pagination-dots {
          content: "";
          position: absolute;
          width: 4px;
          height: 4px;
          background-color: #000000;
          border-radius: 50%;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
          &::before,
          &::after {
            content: "";
            position: absolute;
            width: 4px;
            height: 4px;
            background-color: #000000;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
          }
          &::before {
            left: 14px;
          }
          &::after {
            left: -10px;
          }
        }
      }
    }
    &-btn {
      width: 100%;
      border: 1px solid #d3d3d3;
      height: 40px;
      line-height: 38px;
      margin-bottom: 8px;
    }
    &-reniev {
      width: 312px;
      position: fixed;
      bottom: 0;
      z-index: 11;
      height: 56px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      box-shadow: 0px 0px 8px rgb(0 0 0 / 10%);
      @media (max-width: 1024px) {
        display: none;
      }
      &-svg {
        position: relative;
        top: 3px;
        width: 26px;
        height: 22px;
        fill: #d3d3d3;
      }
      .calculator-btn {
        line-height: 56px;
        height: 100%;
        padding: 0 5px;
        width: 100%;
        background: #fff;
        color: #000;
        border-right: 1px solid #f5f5f5;
        font-weight: 400;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        span {
          font-weight: 600;
        }
        &:hover {
          opacity: 1;
          background: rgb(248, 246, 246);
        }
      }
      .calculator-reload {
        position: relative;
        background: #fff;
        color: #000;
        height: 100%;
        text-overflow: initial;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        &:hover {
          opacity: 1;
          background: rgb(248, 246, 246);
        }
      }
    }
    .product-item {
      width: 100%;
      height: calc(100% - 24px);
      margin-bottom: 24px;
    }
    .product-item-price-old {
      display: none;
    }
    .product-item-price {
      color: #000000;
    }
  }
  &-info {
    margin-bottom: 54px;
    &-title {
      font-size: rem(32);
      font-weight: 700;
      margin-bottom: 21px;
    }
    &-text {
      margin-bottom: 18px;
    }
    &-subtitle {
      font-weight: 700;
      margin-bottom: 2px;
    }
    &-btn {
      height: 35px;
      line-height: 33px;
      padding: 0px 16px;
    }
    &-list {
      padding-left: 15px;
      margin-bottom: 27px;
      li {
        position: relative;
        margin-bottom: 2px;
        &::before {
          content: "";
          position: absolute;
          left: -15px;
          top: 9px;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: #ffc100;
        }
      }
      &-hidden {
        display: none;
      }
    }
  }
  &-question-and-acticles {
    margin-bottom: 60px;
  }
  &-question {
    @media (max-width: 1024px) {
      margin-bottom: 48px;
    }
    &-title {
      margin-bottom: 26px;
      font-weight: 700;
      font-size: rem(32);
    }
    &-item {
      margin-bottom: 16px;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;

      &-title {
        padding: 17px 0px;
        background: #f5f5f5;
        padding-left: 56px;
        font-weight: 600;
        position: relative;
        border-radius: 8px;
        .question-x {
          position: absolute;
          display: inline-block;
          transform: translate(0%, -50%);
          top: 50%;
          left: 24px;
          width: 16px;
          height: 16px;
          &:before,
          &:after {
            position: absolute;
            left: 8px;
            content: " ";
            height: 16px;
            width: 2px;
            background-color: #ffc100;
            border-radius: 2px;
          }
          &:before {
            transform: rotate(0deg);
          }
          &:after {
            transform: rotate(90deg);
          }
        }
      }
      &-text {
        display: none;
        padding: 15px 16px 27px 0px;
        padding-left: 56px;
      }
    }
  }
  &-video {
    margin-bottom: 85px;
    &-wrap {
      @media (max-width: 1024px) {
        margin-right: -20px;
        padding-right: 12px;
      }
    }
    .row {
      @media (max-width: 1024px) {
        flex-wrap: nowrap;
        overflow-x: auto;
      }
    }
    .row::-webkit-scrollbar {
      width: 0;
    }
    .row {
      -ms-overflow-style: none;
    }
    .row {
      overflow: -moz-scrollbars-none;
    }
    &-item {
      margin-bottom: 24px;
      @media (max-width: 576px) {
        text-align: center;
      }
      &-preview {
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 9px;
        line-height: 0;
        img {
          max-height: 176px;
        }
      }
      &-text {
        color: rgba(0, 0, 0, 0.5);
        font-weight: 600;
        font-size: rem(14);
      }
    }
  }
  &-brands {
    &-header {
      margin-bottom: 24px;
    }
    &-main {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 24px;
      @media (max-width: 1024px) {
        margin-right: -15px;
        padding-right: 15px;
        overflow-x: auto;
      }
    }
    &-title {
      display: inline-block;
      font-weight: 700;
      font-size: rem(32);
      @media (max-width: 576px) {
        font-size: rem(22);
      }
    }
    &-btn {
      display: inline-block;
      color: #000;
      @media (max-width: 450px) {
        width: 100%;
      }
    }
    .feedback_link {
      @media (max-width: 450px) {
        margin-bottom: 56px;
      }
    }
    &-item {
      display: block;
      width: 200px;
      height: calc(100% - 16px);
      padding: 16px 30px;
      margin-bottom: 16px;

      border-radius: 8px;
      transition: 0.3s ease all;
      &:hover {
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
      }
      &-img {
        max-width: 140px;
        img {
          max-height: 48px;
        }
      }
    }
  }
  &-articles {
    &-title {
      margin-bottom: 24px;
    }
    &-item {
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      overflow: hidden;

      &-img {
        line-height: 0;
        margin-bottom: 17px;
        img {
          max-height: 192px;
        }
      }
      &-content {
        padding: 0px 24px 20px 24px;
      }
      &-date {
        font-size: rem(14);
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 11px;
      }
      &-title {
        font-weight: 700;
        margin-bottom: 4px;
      }
      &-text {
        font-size: rem(14);
        margin-bottom: 17px;
      }
      &-link {
        font-weight: 600;
        color: $colorBlue;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .checkbox {
    //   display: inline-block;
    position: relative;
    margin-bottom: 10px;
    &-input {
      display: none;
      &:checked + .checkbox-label::before {
        //   background-color: $colorCyan;
        background-color: #071c28;
        border-radius: 5px;
      }
      &:checked + .checkbox-label::after {
        opacity: 1;
      }
    }
    &-label {
      display: inline-block;
      // vertical-align: sub;
      padding-left: 28px;
      font-weight: 300;
      cursor: pointer;
      font-size: rem(14);
      &::before {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        border: 1px solid #e5edf7;
        background-color: #ffffff;
        border-radius: 3px;
        cursor: pointer;
        overflow: hidden;
        position: absolute;
        top: 2px;
        left: 0;
        z-index: 1;
      }
      &::after {
        content: "";
        display: block;
        width: 18px;
        height: 18px;

        background: url("../images/icons/checkbox-arrow.svg") no-repeat;
        background-size: 10px 8px;
        // background-size: cover;
        background-position: center;
        opacity: 0;
        cursor: pointer;
        border-radius: 5px;
        position: absolute;
        top: 1px;
        left: 0;
        z-index: 2;
      }
    }
  }
  .contact {
    padding: 64px 0px;
    background: #f5f5f5;
    &-item {
      height: calc(100% - 20px);
      margin-bottom: 20px;
      position: relative;
      overflow: hidden;
      background: #ffffff;
      padding: 35px;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      z-index: 1;
      .main-search-form {
        @media (max-width: 1024px) {
          display: block;
        }
      }
      &-title {
        font-weight: 700;
        font-size: rem(22);
        margin-bottom: 9px;

        max-width: 375px;
        &-mail {
          margin-bottom: 27px;
        }
      }
      &-text {
        font-size: rem(16);
        color: #848484;
        margin-bottom: 27px;
      }
      &-info {
        color: rgba(0, 0, 0, 0.5);
        font-size: rem(14);
        a {
          color: #1a66ae;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      &-bg {
        position: absolute;
        right: -4px;
        bottom: -6px;
        z-index: -1;
        @media (max-width: 680px) {
          display: none;
        }
      }
    }
    .main-search-form {
      max-width: 352px;
      margin-bottom: 17px;
    }
    .main-search-btn {
      background: $colorRed;
    }
  }
}
.calculator {
  padding-top: 54px;
  padding-bottom: 10px;
  background: #f5f5f5;
  margin-bottom: 64px;
  &-title {
    font-size: rem(32);
    font-weight: 700;
    margin-bottom: 50px;
    @media (max-width: 576px) {
      font-size: rem(22);
      margin-bottom: 34px;
      text-align: center;
    }
    span {
      color: $colorBlue;
    }
  }
  &-counter {
    margin-bottom: 45px;
    flex-direction: column;
    height: calc(100% - 45px);
    @media (max-width: 576px) {
      height: calc(100% - 20px);
      margin-bottom: 20px;
    }
    &-title {
      font-family: $ffPoppins;
      font-size: rem(18);
      font-weight: 600;
      margin-bottom: 8px;
    }
    &-text {
      margin-bottom: 21px;
    }
    &-field {
      input {
        border: 1px solid #d3d3d3;
        border-radius: 5px;
        height: 40px;
        width: 144px;
        padding: 0px 16px;
      }
    }
  }
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media (max-width: 1024px) {
      margin-bottom: 32px;
    }
  }
  &-total {
    font-size: rem(80);
    font-weight: 700;

    margin-bottom: 24px;
    &-subtext {
      font-size: rem(18);
      position: relative;
      right: 12px;
    }
  }
  &-btn {
    color: #fff;
    font-weight: 600;
    border-radius: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 0px 74px;
    background: $colorDark;
    width: 100%;
  }
  &-btn-wrapper {
    display: flex;
  }
  &-reload {
    background: $colorDark;
    border-radius: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100%;
    max-width: 56px;
    &-img {
      max-width: 26px;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      &-svg {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        fill: #d3d3d3;
        width: 26px;
        height: 22px;
      }
    }
  }
}
// Style for sticker hide
.sticker-hidden {
  display: none;
}
.sticker-hidden-open {
  display: inline-block;
}
.sticker-hidden-openB {
  display: block;
}
// Catalog-field style

.catalog-products-price-input {
  width: 100%;
  gap: 8px;
  margin-bottom: 30px;
}

.catalog-products-price-input .catalog-products-price-field {
  display: inline-block;
  height: 40px;
}

.catalog-products-price-field input {
  width: 100%;
  height: 100%;
  padding: 0px 16px;
  outline: none;
  font-size: 19px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  color: #d3d3d3;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.catalog-products-slider .progress {
  height: 100%;
  left: 0;
  right: 0;
  position: absolute;
  border-radius: 5px;
  background: #071c28;
}

.catalog-products-range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: 1px;
  padding: 0;
  margin: 0;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #071c28;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #071c28;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

// Checkbox open/close

.checkbox-hide {
  display: none;
}

.checkbox-on {
  display: inline-block;
}

.sticker-hidden-open-info {
  display: block;
}

.catalog-question-toggle {
  .catalog-question-item-text {
    display: inline-block;
  }
  .question-x {
    &::before {
      transform: rotate(90deg);
    }
  }
}

// Error mail
.catalog-search-form {
  span.error {
    position: absolute;
    left: 0;
    bottom: -15px;
    color: $colorRed;
    font-size: rem(12);
  }
}

.range-slider {
  position: relative;
}
.irs--round {
  height: initial;
}
.irs--round .irs-bar {
  top: 0;
}

.irs--round .irs-line {
  top: -1px;
  height: 2px;
}
.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-single {
  display: none;
}
.irs--round .irs-min,
.irs--round .irs-max {
  display: none;
}

.irs--round .irs-handle {
  background: #071c28;
  border: 4px solid #071c28;
  height: 16px;
  width: 16px;
  top: -7px;
  &:hover {
    background: #071c28;
  }
}

.irs--round .irs-handle.state_hover {
  background: #071c28;
}

.irs--round .irs-bar {
  background-color: #071c28;
  height: 2px;
}

.catalog-products-grid {
  @media (max-width: 1024px) {
    .product-item-description {
      display: inline-block;
    }

    .product {
      &-item {
        &-rait {
          display: none;
        }
        &-open {
          display: none;
        }
        &-img {
          margin-right: 18px;
          margin-bottom: 6px;
        }
        &-title {
          font-weight: 700;
        }
        &-links {
        }
        &-btn {
          width: 84px;
          img {
            display: inline-block;
            margin-top: 5px;
          }
          &-span {
            display: none;
          }
        }
        &-info {
          font-size: 14px;
          &-adaptive {
            display: none;
            @media (max-width: 1024px) {
              display: block;
            }
          }
        }
        &-installments {
          white-space: nowrap;
          overflow: hidden;
          width: 90%;
          text-overflow: ellipsis;
        }
        &-description {
          box-shadow: none;
          position: relative;
          top: 0;
          left: 0;
        }
      }
      &-img {
        width: 30% !important;
      }
    }
    .product {
      &-item {
        @media (max-width: 1300px) {
          display: flex;
          max-width: 100%;
        }
      }
      &-img {
        @media (max-width: 1024px) {
          width: 27%;
          margin-right: 18px;
          .product-item-open {
            display: none;
          }
          .product-item-rait {
            display: none;
          }
          .product-item-installments {
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .product-item-title {
            font-weight: 700;
          }
          .product-item-img {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}
.catalog-products-line {
  .col-12,
  .col-sm-6,
  .col-l-4 {
    max-width: 100%;
    flex: 100%;
  }
  @media (max-width: 1024px) {
    .product-item-btn {
      max-width: 84px;
    }
    .product-item-btn-span {
      display: none;
    }
    .product-item-btn img {
      display: inline-block;
      margin-top: 5px;
    }
  }
  .product-adaptive-btn {
    background-color: #bc0000 !important;
    &:hover {
      background-color: #991c12 !important;
    }
  }
  .product {
    &-item {
      display: flex;
      min-width: 100%;
      padding-bottom: 0;
      &-open {
        @media (max-width: 1024px) {
          display: none;
        }
      }
      &-installments {
        @media (max-width: 1024px) {
          width: 100%;
        }
      }

      &-title {
        font-weight: 700;
      }

      &-container {
        display: flex;
        width: 73%;
      }
      &-btn {
      }
      &-info {
        font-size: rem(14);
      }
      &-description {
        display: block;
        box-shadow: none;
        position: relative;
        top: 0;
        left: 0;
      }
      &-img {
        margin-bottom: 25px;
      }
    }

    &-img {
      width: 26%;
      margin-right: 20px;
    }
    &-info {
      width: 60%;
      margin-right: 16px;
    }
    &-price {
      width: 37%;
    }

    &-hover {
    }
  }
  @media (max-width: 690px) {
    .product {
      &-item {
        &-container {
          display: flex;
          flex-direction: column;
        }
        &-rait {
          display: none;
        }
        &-img {
          margin-bottom: 5px;
        }
      }
      &-img {
        width: 27% !important;
        margin-right: 36px;
      }
      &-info {
        width: 100% !important;
      }
      &-price {
        width: 100% !important;
      }
    }
  }
  .product-item-stats-adaptive {
    display: flex !important;
    justify-content: left;
  }
  .product-item-rait {
    margin-right: 16px;
  }
  .product-item-stats {
    display: none;
  }
  .product-adaptive-sale {
    .product-item-price {
      color: #bc0000;
    }
    .product-item-price-old {
      display: block;
    }
  }
}
// .catalog-products {
//   @media (max-width: 400px) {
//     .product-item-code {
//       margin-left: -12px;
//     }
//   }
// }
.catalog-img-opacity {
  img {
    opacity: 0.3;
  }
}
//Article-arrow

.slider_article {
  position: relative;
  @media (max-width: 1024px) {
    margin-right: -25px;
    padding-right: 12px;
  }
  @media (max-width: 450px) {
    margin-bottom: 15px;
  }
  .swiper-button-disabled {
    background-color: #f5f5f5;
    pointer-events: none;
  }
  .swiper-wrapper {
    @media (max-width: 1024px) {
      overflow-x: auto;
      padding: 5px;
      margin: 0px -5px;
    }
  }
  .swiper-slide {
    @media (max-width: 1024px) {
      max-width: 424px;
      margin-right: 24px;
    }
  }
}
/* хром, сафари */
.swiper-wrapper::-webkit-scrollbar {
  width: 0;
}

/* ie 10+ */
.swiper-wrapper {
  -ms-overflow-style: none;
}

/* фф (свойство больше не работает, других способов тоже нет)*/
.swiper-wrapper {
  overflow: -moz-scrollbars-none;
}
.article-button-prev,
.article-button-next {
  position: absolute;
  width: 40px;
  height: 40px;
  // background-image: url(./../images/icons/product-slider-right.svg);
  // background-repeat: no-repeat;
  // background-position: center;
  background-color: #ffffff;

  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 8px rgb(0 0 0 / 10%);
  box-shadow: 0px 0px 8px rgb(0 0 0 / 10%);
  cursor: pointer;
  @media (max-width: 1024px) {
    display: none;
  }
}
.article-button-prev {
  transform: rotate(180deg);
  top: 43%;
  left: 8px;
  z-index: 9;
}
.article-button-next {
  top: 43%;
  right: 8px;
  z-index: 9;
}

// Скрытие скролл бара

.catalog-stickers-wrap::-webkit-scrollbar {
  width: 0;
}
.catalog-stickers-wrap {
  -ms-overflow-style: none;
}
.catalog-stickers-wrap {
  overflow: -moz-scrollbars-none;
}

.catalog-brands-main::-webkit-scrollbar {
  width: 0;
}
.catalog-brands-main {
  -ms-overflow-style: none;
}
.catalog-brands-main {
  overflow: -moz-scrollbars-none;
}

.card-interest-wrap::-webkit-scrollbar {
  width: 0;
}
.card-interest-wrap {
  -ms-overflow-style: none;
}
.card-interest-wrap {
  overflow: -moz-scrollbars-none;
}

.catalog-products-img-open {
  background-image: url(.././images/icons/red-cross.svg);
}

// Стили для скрытие стикера
.wrap-remove {
  max-height: 80px;
  overflow: hidden;
}
.wrap-toggle {
  max-height: initial;
  overflow: auto;
}
.btn-setting-none {
  display: none;
}
.catalog-slider-adaptive {
  .product-item {
    max-width: 312px;
    height: initial;
  }
}

// Select form styler
.jq-selectbox {
  // display: inline-block !important;
}
.jqselect {
  display: block !important;
}
.jq-selectbox__select-text {
  margin-top: -2px;
}
.jq-selectbox__dropdown {
  position: relative;
  ul {
    position: absolute;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    overflow: hidden;
    li {
      padding: 5px 16px;
      &:hover {
        background: #f5f5f5;
      }
    }
    li:first-child {
      padding-top: 10px;
    }
    li:last-child {
      padding-bottom: 10px;
    }
  }
}

.swiper-button-disabled .article-button-next-img {
  opacity: 0.5;
}
.article-button-next-img {
  position: absolute;
  width: 8px;
  height: 18px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.catalog-products-filter-section {
  .jq-selectbox__select-text {
    // background: url("../images/icons/section-arrow.svg") no-repeat right;
    // background-position: right 5px center;
  }
}
.dropdown {
  .jq-selectbox__select-text {
    // background: url("../images/icons/section-arrow-up.svg") no-repeat right !important;
    // background-position: right 5px center;
  }
}
.catalog-filter-wrap {
  position: relative;
}
.new-ar {
  position: absolute;
  top: 0;
  right: 0;
  img {
    position: absolute;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
  }
}
