.container-compare {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}
.compare {
    &-section {
        width: 100%;
         @media(max-width:1024.99px) {
            max-width: 1320px;
            width: 100%;
            }
    }
    &-grid {
        display: flex;
        // padding: 20px 0px;
        margin-bottom: 40px;
        // gap: 24px;
        &-sticky {
            padding: 20px 0px;
            margin-bottom: 0;
             @media(max-width:576px) {
                    margin: 0 -15px;
                }
        }
         @media(max-width:1024.99px) {
                flex-direction: column;
            }
        &-aside {
            flex: 0 0 312px;
            max-width: 312px;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 24px;
            margin-right: 24px;
            &-sticky {
                justify-content: initial;
                gap: 15px;
                margin-bottom: 0;
                padding-bottom: 20px;
                 @media(max-width:576px) {
                    border-bottom: 1px solid #f5f5f5;
                    padding: 0 15px;
                    padding-bottom: 20px;
                    }
                
                &_checkbox {
                    margin-bottom: 0;
                }
                 @media(max-width:1024.99px) {
                        flex-direction: row;
                        gap: 40px;
                    }
                 @media(max-width:576px) {
                        justify-content: center;
                    }
            }
             @media(max-width:1024.99px) {
                    flex: 0 0 100%;
                    max-width: 100%;
                    flex-shrink: 1;
                }
                &-container {
                     @media(max-width:1024.99px) {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            gap: 24px;
                        }
                     @media(max-width:576.99px) {
                            flex-direction: column;
                        }
                }
        }
        &-main {
            flex: 0 0 calc(100% - 312px - 24px);
            max-width: calc(100% - 312px - 24px);

            @media(max-width:1024.99px) {
                flex: 0 0 100%;
                max-width: 100%;
                width: 100%;
            }
             @media(max-width:576px) {
                    padding: 0 15px;
                }
        }
    }
    &-row {
        display: flex;
        // padding: 17px 24px;
        border-bottom: 1px solid #F5F5F5;
        @include fz(14);
         @media(max-width:1024.99px) {
                flex-direction: column;
            }
        &:last-child {
            border-bottom: none;
        }
        &-aside {
            flex: 0 0 312px;
            max-width: 312px;
            flex-shrink: 0;
            color: #000000B2;
            padding: 17px 24px;
            @media(max-width:1024.99px) {
                flex: 0 0 100%;
                max-width: 100%;
                flex-shrink: 1;
                text-align: center;
                font-weight: 600;
                border-bottom: 1px solid #f5f5f5;
                @include fz(16);
            }
        }
        &-main {
            width: 70%;
            // flex: 0 0 70%;
            // max-width: 70%;
            flex-grow: 1;
            padding: 17px 0px;
            @media(max-width:1024.99px) {
                flex: 0 0 100%;
                max-width: 100%;
                width: 100%;
                // flex-shrink: 1;
                padding: 7px 0px;
            }
        }
    }
    &-table {
        &-section {
            margin-bottom: 16px;
            &-head {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-weight: 600;
                padding: 17px 24px;
                background: #F5F5F5;
                border-radius: 8px;
                // -webkit-touch-callout: none; /* iOS Safari */
                // -webkit-user-select: none;   /* Chrome/Safari/Opera */
                // -khtml-user-select: none;    /* Konqueror */
                // -moz-user-select: none;      /* Firefox */
                // -ms-user-select: none;       /* Internet Explorer/Edge */
                // user-select: none;
                 @media(max-width:1024.99px) {
                        text-align: center;
                        span {
                            display: inline-block;
                            width: 100%;
                            @include fz(18);
                        }
                    }
                &_arrow {
                    width: 16px;
                    height: 2px;
                    background-color: #BC0000;
                    position: relative;
                    &_close {
                        &::before {
                            content: '';
                            position: absolute;
                            transform: translate(-50%,-50%);
                            top: 50%;
                            left: 50%;
                            height: 16px;
                            width: 2px;
                            background-color: #BC0000;
                        }
                    }
                }
            }
            &-body {
                &_close {
                    display: none;
                }
            }
        }
    }
    &-sticky {
        &-body {
            // padding-left: 24px;
             @media(max-width:576px) {
                    padding-left: 0;
                }
        }
        &-main {
            padding-left: 0;
             @media(max-width:576px) {
                    padding: 0 15px;
                }
        }
        &-item {
            gap: 16px;
            &-img {
                flex: 0 0 64px;
            }
            &-lock {
                @include fz(14);
                margin-bottom: 5px;
                color: #BC0000;
            }
            &-text {
                @include fz(14);
                font-weight: 600;
                margin-bottom: 5px;
            }
            &-price {
                @include fz(22);
                font-weight: 700;
                span {
                    @include fz(16);
                    font-weight: 400;
                }
            }
        }
    }
    &-additem {
        @include fz(14);
         @media(max-width:1024.99px) {
                order: 2;
            }
         @media(max-width:576.99px) {
                order: initial;
                display: none;
            }
    }
    &-tabs {
        .sign-popup-content {
            .ui-checkbox {
                margin-bottom: 15px;
                 @media(max-width:1024.99px) {
                        order: 2;
                        margin-bottom: 0;
                    }
                    @media(max-width:576.99px) {
                        order: initial;
                    }
                &-label {
                    @include fz(14);
                    &::before {
                        top: 0;
                    }
                    &::after{
                        top: 5px;
                    }
                }
            }
        }
    }
    &-btn-clear {
        margin-bottom: 0;
         @media(max-width:1024.99px) {
                order: 1;
                max-width: 312px;
            }
            @media(max-width:576.99px) {
                order: initial;
            }
        &-icon {
            position: relative;
            top: 2px;
            margin-right: 8px;
        }
    }
}
.carousel-compare-main {
    position: relative;
    margin: -10px;
    .ui-arrow-disabled, .ui-arrow.swiper-button-disabled {
        background-color: #F5F5F5;
    }
    // .product-card {
    //     max-width: 312px;
    // }
    .product-card-btn {
        flex:auto;
    }
    .product-card-fixed {
        display: none;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        padding: 6px 16px;
        border: 1px solid #D3D3D3;
        background-color: #fff;
        border-radius: 5px;
        cursor: pointer;
        color: #2A4455;
        @include fz(14);
        &-f {
            display: block;
        }
        &-text {
            &::after {
                content: 'Закрепить';
            }
            &-fix {
                &::after {
                    content: 'Закреплено';
                }
            }
             @media(max-width:576px) {
                    display: none;
                }
        }
        &:hover {
            background-color: #f5f5f5;
        }
        img {
            display: inline-block;
            vertical-align: middle;
            margin-right: 8px;
             @media(max-width:576px) {
                    margin-right: 0;
                }
        }
        &-fix {
            background-color: #f5f5f5;
            border: 1px solid transparent;
        }
    }
    .product-card-remove {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        cursor: pointer;
        &::after {
            content: '';
            position: absolute;
            display: block;
            height: 2px;
            width: 30px;
            border-radius: 5px;
            background-color: #848484;
            transform: translate(-50%,-50%) rotate(45deg);
            top: 50%;
            left: 50%;
            &:hover {
                background-color: #2A4455;
            }
        }
        &::before {
            content: '';
            position: absolute;
            display: block;
            height: 2px;
            width: 30px;
            border-radius: 5px;
            background-color: #848484;
            transform: translate(-50%,-50%) rotate(-45deg);
            top: 50%;
            left: 50%;
        }
    }
}
.swiper-carousel-compare {
    padding:10px;
    &-main {
        @media(max-width:1024.99px) {
            overflow: visible;
        }

    }
    .product-card {
         @media(max-width:1024.99px) {
            padding: 16px;
            display: block;
            &-top {
                flex: 0 0 100%;
                max-width: 100%;
            }
            &-rateline {
                display: flex;
            }
            .product-card-top .product-card-code {
                display: none;
            }
            .product-card-btns {
                width: 100%;
                justify-content: space-between;
            }
            .product-card-btn {
                @include fz(16);
                padding: 0;
            }
            .product-card-btn svg.product-card-btn-icon {
                display: none;
            }
        }
    }
    
   .swiper-slide {
    // touch-action: none;
    @media(max-width:1024.99px) {
        width: 264px !important;
    }
    .product-card {
         @media(max-width:1024.99px) {
                width: 264px;
            }
         @media(max-width:576px) {
                width: 260px;
            }
        // width: 312px ;

    }
   }
}


[class*="compare-slider-prev"] {
    left: -10px;
}
[class*="compare-slider-next"] {
    right: -10px;
  
}



.compare-slider-prev-carousel-compare_1 {
     @media(max-width:1024.99px) {
            display: none;
        }
}

.compare-slider-next-carousel-compare_1 {
    @media(max-width:1024.99px) {
        display: none;
    }
}

.compare-remove-shadow {
    box-shadow: none !important;
    border-bottom: 1px solid #f5f5f5;
}



.swiper-slide-same-hidden {
    display: none;
}