.swiper-pagination-complite {
    text-align: center;
}

.complite {
    &-card {
        margin-bottom: 24px;
    }
    &-slide-img {
        text-align: center;
        height: 272px;
        img {
            max-height: 272px;
        }
    }
}