.main {
  &-banners {
    margin-bottom: 40px;
    

    &-link {
      display: inline-block;
      max-width: 312px;
      margin-right: 24px;
    }

    &-image {
      width:100%;
      
    }

    &-pagintaion { 
      padding-top: 25px;

      @media(max-width:420px){
        padding-top: 75px;
      }
    }


    .swiper-pagination{
      position: relative;
    }
    .swiper-wrapper {
      max-height: 192px;
    }
    .swiper-slide {
      // flex: 0 0 312px;
      width: 312px;

      @media(max-width:768.99px){
        flex: 0 0 auto;
        
      }
    }

    @media(max-width: 1400px){
      margin-right: -40px;
    }

    @media(max-width: 768.99px){
      max-height: 240px;
      margin-right: 0;
    }

    @media(max-width:420px){
      margin-bottom: 80px;
    }
  }

  &-banner {
    margin-bottom: 86px;
    background-color: $disabled;

    @media(max-width:768.99px){
      display: none;
    }

    &-container {
      display: flex;
      justify-content: center;
      padding-top: 25px;

      @media(max-width:1024.99px){
        justify-content: left;
        padding-left: 40px;
      }
    }

    &-contant {
      margin-right: 20px;
      padding-top: 35px;
    }

    &-img {
      margin-bottom: 35px;
    }

    &-logo{
      margin-bottom: 40px;
    }

    &-gradient {
      color: #071C28;
      font-weight: 700;
      font-size: rem(40);
      line-height: 1.2;
      background: linear-gradient(135deg, #3F5766 5%, #BC0000 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &-info {
      font-weight: 700;
      font-size: rem(40);
      line-height: 1.2;
      margin-bottom: 15px;
    }

    &-description {
      max-width: 420px;
      padding-bottom: 45px;
      font-size: rem(16);
    }

    &-banner {
      img {
        height: 100%;
      }
    }
  }

  &-fields {
    &-wrapper {
      position: relative;
      height: 432px;
      margin-right: 24px;
      width: 424px;
      // max-height: 432px;
      background-color: #f5f5f5;
      padding: 32px 32px 0 32px;
      border-radius: 8px;

      @media (max-width: 768.99px) {
        display: block;
        width: 100%;
        height:initial;
        margin-bottom: 16px;
        padding: 32px 24px 45px 24px;
        margin-right: 0;
      }
    }

    &-wrap {
      display: -webkit-box;
      flex-wrap: nowrap;
      max-height: 432px;
      margin-bottom: 85px;
      margin-right: -40px;
      white-space: nowrap;

      @media (max-width: 1399px) {
        overflow-x: auto;
        overflow-y: hidden;
      }

      @media (max-width: 768.99px) {
        display: block;
        max-height: initial;
        white-space: normal;
        margin-bottom: 40px;
        margin-right: 0;
      }
    }

    &-title {
      margin-bottom: 18px;
      font-weight: 700;
      font-size: 1.35;
      color: $primary;
      font-size: rem(22);
      white-space: normal;
    }

    &-link {
      display: block;
      color: #000000;

      &:hover {
        color: $primary;
      }

      &-img {
        width: 16px;
        height: 10px;
        margin-left: 8px;
      }
    }

    &-img {
      position: absolute;
      bottom: -4px;
      text-align: center;
      // height: 100%;

      img {
        height: 100%;
        border-radius: 8px;
      }

      @media (max-width: 768.99px) {
        display: none;
      }
    }

    &-skid {
      margin: 0 -32px;
    }

    &-info{
      ul li {
        margin-bottom: 18px;
      }
      @media (max-width: 576.99px) {
      ul li:last-child{
        margin-bottom: 0;
      }
    }
    }
  }

  &-slider {
    margin-bottom: 35px;

    .swiper {
      margin-bottom: 30px;
    }

    &-slide {
      max-height: 408px;

      img {
        border-radius: 8px;
      }
    }

    &-pagintaion {
      position: relative;
      .swiper-pagination-bullet {
        width: 40px;
        height: 3px;
        margin-right: 8px !important;
      }
    }

    @media (max-width: 1024.99px) {
      display: none;
    }
  }

  &-recommend {
    &-swiper {
      margin: -10px -10px 0;
      padding: 10px 10px 70px;
    }
  }

  &-compressors {
    margin-bottom: 0;
    &-swiper {
      margin: -10px -10px 0;
      padding: 10px 10px 70px;
    }
  }

  &-dryers {
    margin-bottom: 15px;
    background-color: black;

    &-swiper {
      margin: -10px -10px 0;
      padding: 10px 10px 70px;
    }
  }


  &-trust {
    
    &-img {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100px;

    }

    .swiper-slide {
      @media(max-width:1024.99px){
        width: 312px;
      }

      @media(max-width:420.99px){
        text-align: center;
        padding-bottom: 30px;
      }
    }

    .swiper-pagination{
      display: none;

      @media(max-width:420px){
        display: block;
        position: relative;
      }
    }

    .swiper-wrapper {
      padding-left: 15px;
      
      @media(max-width:1024.99px){
        padding-left: 55px;
      }

      @media(max-width:420.99px){
        padding-left: 0;
      }
    }

    .ui-arrow {
      @media(max-width:1024.99px){
        display: none;
      }
    }

    @media(max-width:1024.99px){
      margin-right: -40px;
    }
    @media(max-width:420.99px){
      margin-right: 0;
    }
    
    // .swiper
  }

  &-list {
    display: none;
    margin: 0 -40px 60px -40px;
 
   &-link {
    display: flex;
    align-items: center;
    padding: 17px 40px;
    color: $font;
    border-top: 1px solid $disabled;

    @media(max-width:768.99px){
      padding: 17px 15px;
     } 

    &-more {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 45px;
        top: 50%;
        margin-top: -5px;
        width: 12px;
        height: 10px;
        background: url(../images/svg/toggler-arrow.svg) center no-repeat;
        background-size: contain;
        -webkit-transition: 0.3s -webkit-transform;
        transition: 0.3s -webkit-transform;
        -o-transition: 0.3s transform;
        transition: 0.3s transform;
        transition: 0.3s transform, 0.3s -webkit-transform;

        @media(max-width:768.99px){
          right: 15px;
        } 
      }

      &.list-open {
        &:after {
          transform: rotate(180deg);
        }
      }
    }

    svg {
      margin-right: 18px;
      width: 22px;
      height: 22px;
    }

    &:hover {
      font-weight: 600;
      background-color: $disabled;
    }

    
   }

   &-open {
    &:after {
      transform: rotate(180deg);
    } 
   }

   &-drop {
    display: none;
   }

   &-li {
    ul li:last-child {
      border-bottom: none !important;
    }
   }

   ul li:last-child{
    border-bottom: 1px solid $disabled;
   }

   @media(max-width:1024.99px){
    display: block;
   } 

   @media(max-width:768.99px){
    margin: 0 -15px 55px -15px;
   } 
  }

  &-about {
    display: flex;
    margin-bottom: 85px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
    

    &-img {
      flex:0 0 424px;
      
      img {
        height: 100%;
      }
      
      @media(max-width:1024.99px){
        display: none;
      }
    }

    &-info {
      padding: 40px 50px 0 50px;
    }

    &-title {
      margin-bottom: 13px;
      font-weight: 700;
      font-size: rem(44);
      line-height: 1.3;
    }

    &-description{
      margin-bottom: 40px;
      p:last-child {
        margin-bottom: 0;
      }
    }

    &-wrap {
      display: flex;
      align-items: center;
      margin-bottom: 30px;

      &-img {
        position: relative;
        flex: 0 0 64px;
        height: 64px;
        margin-right: 30px;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }
      }

      &-txt {
        font-weight: 600;
      }
    }
    .main-tabs {
      &-body {
        padding-top: 50px;
      }

      &-links {
        display: flex;
        border-bottom: 1px solid $border;
    
        li {
          width: 100%;
          list-style: none;
        }
      }
    
      &-link {
        position: relative;
        display: block;
        padding: 15px 5px;
        font-size: rem(16);
        text-decoration: none;
        text-align: center;
        color: #999;
        font-weight: 600;
        font-size: rem(18);
        color: #000;
    
        &:after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: -1px;
          height: 2px;
          background-color: $secondary;
          opacity: 0;
          transition: 0.3s opacity;
        }
    
        &.selected {
          color: $secondary;
    
          &:after {
            opacity: 1;
          }
        }
        &:hover {
          color: $secondary;
        }
    
        &-mobile {
          display: none;
        }
      }
    }
  }

  &-brands {
    margin-bottom: 85px;

    @media (max-width: 768px) {
      margin-bottom: 50px;
    }

    &-main {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 24px;

      @media (max-width: 1024.99px) {
        margin-right: -15px;
        padding-right: 15px;
        overflow-x: auto;
      }
      @media (max-width: 576px) {
        grid-gap: 16px;
      }
    }
    &-title {
      display: inline-block;
      font-weight: 700;
      font-size: rem(32);
      @media (max-width: 576px) {
        font-size: rem(22);
      }
    }
    &-btn {
      display: inline-block;
      color: #000;
      @media (max-width: 450px) {
        width: 100%;
      }
    }
    .feedback_link {
      @media (max-width: 450px) {
        margin-bottom: 56px;
      }
    }
    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 80px;
      padding: 10px;
      border-radius: 8px;
      transition: 0.3s ease box-shadow;

      img {
        max-height: 60px;
      }

      &:hover {
        box-shadow: $shadow;
      }
    }
  }

  &-video {
    margin-bottom: 40px;

    &-wrap {
      @media (max-width: 1024.99px) {
        margin-right: -40px;
        padding-right: 15px;
      }
      @media (max-width: 768px) {
        margin-right: -15px;
        padding-right: 15px;
      }
    }
    .row {
      @media (max-width: 1024.99px) {
        flex-wrap: nowrap;
        overflow-x: auto;
      }
    }
    .row::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    .row {
      -ms-overflow-style: none;
    }
    .row {
      overflow: -moz-scrollbars-none;
    }

    &-item {
      margin-bottom: 24px;
      @media (max-width: 576px) {
        text-align: center;
      }
      &-preview {
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 9px;
        line-height: 0;
        img {
          max-height: 176px;
        }
      }
      &-text {
        color: rgba(0, 0, 0, 0.5);
        font-weight: 600;
        font-size: rem(14);
      }
    }
  }
  
  &-articles {
    margin-bottom: 85px; 

    @media(max-width:1024.99px){
      margin-bottom: 60px;
    }

    .main-article {
      margin-bottom: 60px;

      &-item {
        height: 100%;
        max-height: 416px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
        @media(max-width:1024.99px){
          flex: 0 0 424px;
          margin-right: 24px;
        }
      }
      
      &-slider {
        margin: -10px -10px 0;
        padding: 10px 10px 70px;
      }
      
      &-mobile {
        @media(max-width:576.99px){
          margin-bottom: 24px;
        }
      }
    }
  }

  &-news {

    &-link {
      display: flex;
        &-img {
          position: relative;
          flex: 0 0 120px;
          max-width: 120px;
          overflow: hidden;
          border-radius: 6px 0 0 6px;
          min-height: 128px;
          
          img {
            position: absolute;
            left:50%;
            top:50%;
            transform: translate(-50%,-50%);
            min-width: 100%;
            min-height: 100%;

            
          }
        }

        &-info {
          padding: 25px 16px 16px 16px;
        }

        &-data {
          font-size: rem(14);
          color: rgba(0, 0, 0, 0.5);
        }

        &-txt {
          font-weight: 600;
          line-height: 1.375;
          color: $font;
          white-space: normal;
        }
    }

    &-wrap {
      min-height: 128px;
      margin-bottom: 16px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
      border-radius: 8px;

      @media(max-width:1024.99px) {
        display: inline-block;
        max-width: 424px;
        margin-right: 24px;
      }
    }

    &-list {
      @media(max-width:1024.99px){
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: auto;
        padding-top: 4px;
      }

      div:last-child{
        margin-right: 6px;
      }
    }
    
    @media(max-width:1024.99px){
      margin-right: -40px;
    }
  }
}


.main-banners::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.main-banners {
  -ms-overflow-style: none;
}

.main-banners {
  overflow: -moz-scrollbars-none;
}

.main-fields-wrap::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.main-fields-wrap {
  -ms-overflow-style: none;
}

.main-fields-wrap {
  overflow: -moz-scrollbars-none;
}
.main-brands-main::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.main-brands-main {
  -ms-overflow-style: none;
}
.catalog-brands-main {
  overflow: -moz-scrollbars-none;
}
.main-news-list::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.main-news-list {
  -ms-overflow-style: none;
}

.main-news-list {
  overflow: -moz-scrollbars-none;
}
// .main-recommend-swiper {
//   margin: -10px -10px 0;
//   padding: 10px 10px 70px;
// }
.list-open {
  .main-list-drop{
    display: block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    // border-bottom:  1px solid #F5F5F5;
  }
  .main-list-link-more::after {
    transform: rotate(180deg);
  }
}

.mian-dryers{
  margin-bottom: 15px;

  @media(max-width:1024.99px){
    margin-bottom: 0;
  }
}
.mian-compressors{
  margin-bottom: 15px;

  @media(max-width:1024.99px){
    margin-bottom: 0;
  }
}