.making-order {
  &-headline {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 42px;

    @media(max-width: 768px) {
      font-size: 28px;
      margin-bottom: 32px;
    }

    @media(max-width: 576px) {
      font-size: 22px;
      margin-bottom: 23px;
    }
  }

  &-validate {
    position: relative;
    margin-bottom: 85px;
    .ui-input {
      @media(max-width: 576px) {
        height: 48px;
        font-size: 16px;
      }
    }

    .height {
      @media(max-width: 576px) {
        height: 136px;
      }
    }
  }

  &-caption {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 31px;

    @media(max-width: 768px) {
      font-size: 22px;
      margin-bottom: 35px;
    }

    @media(max-width: 576px) {
      font-size: 18px;
      margin-bottom: 25px;
    }
  }

  &-group {
    margin-bottom: 85px;

    &:last-child {
      margin-bottom: 0;

      @media(max-width: 1024px) {
        margin-bottom: 56px;
      }
    }

    @media(max-width: 768px) {
      margin-bottom: 56px;
    }

    @media(max-width: 576px) {
      margin-bottom: 53px;
    }
  }

  &-myAddress {
    margin-bottom: 32px;
  }

  &-select {
    position: relative;
    margin-bottom: 8px;

    // input[type='radio'] {
    //   accent-color: #2A4455;
    //   width: 16px;
    //   height: 16px;
    //   position: absolute;
    //   margin: 0;
    //   right: 32px;
    //   transform: translate(0, -50%);
    //   top: 50%;

    //   &:checked + label {
    //     outline: 2px solid #2A4455;
    //     font-weight: 600;
    //     color: #2A4455;
    //   }

    //   @media(max-width: 576px) {
    //     display: none;
    //   }
    // }

    // label {
    //   display: block;
    //   padding: 15px 0 15px 32px;
    //   border: 1px solid #D3D3D3;
    //   border-radius: 8px;

    //   &:hover {
    //     outline: 2px solid grey;
    //     border-color: transparent;
    //   }
    // }

    // label {
    //   line-height: 1.4;
    //   padding-left: 28px;
    // }

    /* для элемента input c type="radio" */
    .custom-radio {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    /* для элемента label связанного с .custom-radio */
    .custom-radio+label {
      display: inline-flex;
      align-items: center;
      user-select: none;
      // padding-left: 20px;
      padding: 15px 0 15px 32px;
      border: 1px solid #D3D3D3;
      border-radius: 8px;
      width: 100%;
      cursor: pointer;

      &:hover {
        outline: 1px solid #808080;
        border-color: transparent;
      }
    }

    .custom-radio.block+label {
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
    }

    /* создание в label псевдоэлемента  before со следующими стилями */
    .custom-radio+label::before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      // flex-shrink: 0;
      // flex-grow: 0;
      border: 1px solid #D3D3D3;
      border-radius: 50%;
      margin-right: 8px;
      position: absolute;
      right: 32px;
      top: 20px;
      // background-size: 50% 50%;

      @media(max-width: 576px) {
        display: none;
      }
    }

    .custom-radio.block+label::before {
      content: '';
      right: 32px;
      top: 32px;
      // background-size: 50% 50%;
    }

    /* стили при наведении курсора на радио */
    .custom-radio:not(:disabled):not(:checked)+label:hover::before {
      border-color: #808080;
    }

    /* стили для радиокнопки, находящейся в состоянии checked */
    .custom-radio:checked+label::after {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      background-color: #2A4455;
      position: absolute;
      top: 24px;
      right: 44px;
      border-radius: 50%;
      // top: 50%;
      // transform: translate(0, -50%);

      @media(max-width: 576px) {
        display: none;
      }
    }

    .custom-radio.block:checked+label::after {
      content: '';
      top: 36px;
      right: 44px;
    }

    .custom-radio:checked+label {
    outline: 2px solid #2A4455;
      font-weight: 600;
      color: #2A4455;
    }

    .custom-radio:checked+label::before {
      content: '';
      border-color: #2A4455;
    }

    /* стили для радиокнопки, находящейся в состоянии disabled */
    .custom-radio:disabled+label::before {
      background-color: #e9ecef;
    }

    .subtitle {
      font-weight: 400;
      font-size: 14px;
      margin-top: 7px;
      color: rgba(0, 0, 0, 0.5);
    }
  }

  &-form {
    display: none;

    &.active {
      display: block;
      margin-top: 25px;
      margin-bottom: 7px;
    }
  }

  &-erip {
    display: none;

    &.active {
      display: block;
      margin-top: 25px;
      margin-bottom: 7px;
    }
  }

  &-address {
    position: relative;
    margin-bottom: 18px;

    /* для элемента input c type="radio" */
    .custom-radio {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    /* для элемента label связанного с .custom-radio */
    .custom-radio+label {
      display: inline-flex;
      align-items: center;
      user-select: none;
      padding-left: 24px;
    }

    /* создание в label псевдоэлемента  before со следующими стилями */
    .custom-radio+label::before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      // flex-shrink: 0;
      // flex-grow: 0;
      border: 1px solid #D3D3D3;
      border-radius: 50%;
      margin-right: 8px;
      position: absolute;
      left: 0;
      top: 0;
      // background-size: 50% 50%;
    }

    /* стили при наведении курсора на радио */
    .custom-radio:not(:disabled):not(:checked)+label:hover::before {
      border-color: #000;
    }

    /* стили для радиокнопки, находящейся в состоянии checked */
    .custom-radio:checked+label::after {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      background-color: #2A4455;
      position: absolute;
      top: 4px;
      left: 4px;
      border-radius: 50%;
      // top: 50%;
      // transform: translate(0, -50%);
    }

    .custom-radio:checked+label::before {
      content: '';
      border-color: #2A4455;
    }

    /* стили для радиокнопки, находящейся в состоянии disabled */
    .custom-radio:disabled+label::before {
      background-color: #e9ecef;
    }
  }

  &-comment {
    .ui-field {
      margin-bottom: 0;
    }
  }

  &-place {
    margin-bottom: 45px;
  }

  &-form {
    display: none;
  }

  &-tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    a {
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      padding: 10px 5px;
      font-weight: 600;
      font-size: 18px;
      color: #000;
      border: 2px solid #D3D3D3;
      border-radius: 8px;

      @media(max-width: 576px) {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &.active {
        border: 2px solid #2A4455;
        color: #2A4455;
      }

      @media(max-width: 576px) {
        font-size: 16px;
      }
    }

    li {
      width: 100%;

      &:first-of-type {
        margin-right: 32px;

        @media(max-width: 576px) {
          margin-right: 16px;
        }
      }
    }
  }

  &-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px;

    @media(max-width: 768px) {
      font-size: 18px;
      margin-bottom: 17px;
    }
  }

  &-info {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    position: relative;

    @media(min-width: 1024px) {
      &.sticky-box {
        position: fixed;
        top: 100px !important;
        max-width: 423px;
      }
      &.card-breackpoint-flipbottom {
        position: absolute;
        bottom: 0;
        max-width: 423px;
      }
    }

    @media(max-width: 1024px) {
      box-shadow: none;
      border-radius: 0;
    }
  }

  &-item {
    @media(max-width: 576px) {
      .row {
        &.flex {
          flex-direction: column;
        }
      }

      #map-address {
        margin-bottom: 34px;
        height: 264px !important;
      }
    }
  }

  &-header {
    padding: 26px 25px 24px 24px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid #D3D3D3;

    .line {
      display: none;
    }

    @media(max-width: 1024px) {
      position: relative;
      justify-content: flex-start;
      // border-top: 1px solid #D3D3D3;
      padding: 24px 0;
      border-bottom: none;

      &:after {
        content: "";
        position: absolute;
        right: 16px;
        top: 50%;
        margin-top: -5px;
        width: 12px;
        height: 10px;
        background: url(../images/svg/toggler-arrow.svg) center no-repeat;
        background-size: contain;
        -webkit-transition: 0.3s -webkit-transform;
        transition: 0.3s -webkit-transform;
        -o-transition: 0.3s transform;
        transition: 0.3s transform;
        transition: 0.3s transform, 0.3s -webkit-transform;
      }


      &::before {
        content: "";
        position: absolute;
        left: -48px;
        right: -48px;
        height: 1px;
        top: 0;
        background-color: #D3D3D3;
      }

      &.opened {
        &::after {
          transform: rotate(180deg);
        }
      }

      .line {
        display: block;

        &::before {
          content: "";
          position: absolute;
          left: -48px;
          right: -48px;
          height: 1px;
          bottom: 0;
          background-color: #D3D3D3;
        }
      }
    }

    &-title {
      font-weight: 700;
      font-size: 28px;

      @media(max-width: 1024px) {
        margin-right: 24px;
        font-size: 22px;
      }
    }
  }

  &-product {
    display: flex;
  }

  &-total {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @media(max-width: 768px) {
      justify-content: flex-start;
    }
  }

  &-list {
    height: 256px;
    overflow: auto;
    border-bottom: 1px solid #D3D3D3;

    @media(max-width: 1024px) {
      display: none;
      height: 100%;
      overflow: visible;
      border-bottom: none;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: -48px;
        right: -48px;
        height: 1px;
        bottom: 0;
        background-color: #D3D3D3;
      }

      &.active {
        display: block;
      }
    }
  }

  &-list::-webkit-scrollbar {
    width: 4px;
  }

  &-list::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &-list::-webkit-scrollbar-thumb {
    background-color: #D3D3D3;
  }

  &-code {
    display: none;

    @media(max-width: 768px) {
      display: block;
      font-weight: 700;
      text-decoration: line-through;
      color: #808080;
    }
  }

  &-product {
    // padding: 24px 25px 24px 27px;
    padding: 24px 0;
    margin: 0 25px 0 27px;
    border-bottom: 1px solid #D3D3D3;
    margin-bottom: 2px;

    &:last-of-type {
      border-bottom: none;
    }

    @media(max-width: 1024px) {
      margin: 0;
      padding: 16px 0 24px 0;
      align-items: center;

      &:last-of-type {
        border-bottom: none;
      }
    }
  }

  &-name {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 11px;
  }

  &-count {
    font-weight: 400;
    font-size: 16px;

    @media(max-width: 768px) {
      margin-right: 32px;
    }
  }

  &-sum {
    font-weight: 700;
    font-size: 18px;

    @media(max-width: 768px) {
      margin-right: 12px;
    }
  }

  &-img {
    margin-right: 16px;

    img {
      max-width: 80px;

      @media(max-width: 1024px) {
        max-width: 72px;
      }
    }

    @media(max-width: 1024px) {
      margin-right: 24px;
    }

    @media(max-width: 576px) {
      display: none;
    }
  }

  &-result {
    padding: 23px 24px 22px 24px;
    border-bottom: 1px solid #D3D3D3;

    @media(max-width: 1024px) {
      position: relative;
      padding: 22px 0;
      border-bottom: none;

      // &::before {
      //   content: "";
      //   position: absolute;
      //   left: -48px;
      //   right: -48px;
      //   height: 1px;
      //   top: 0;
      //   background-color: #D3D3D3;
      // }

      &::after {
        content: "";
        position: absolute;
        left: -48px;
        right: -48px;
        height: 1px;
        bottom: 0;
        background-color: #D3D3D3;
      }
    }
  }

  &-delivery {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 9px;

    span:first-child {
      color: rgba(0, 0, 0, 0.5);
      font-weight: 400;
    }

    span {
      font-weight: 600;
    }
  }

  &-cost {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    span:first-child {
      font-weight: 600;
      font-size: 16px;

      @media(max-width: 1024px) {
        font-size: 18px;
      }
    }

    span {
      font-weight: 700;
      font-size: 32px;
    }
  }

  &-confirm {
    padding: 19px 24px 32px 24px;

    @media(max-width: 1024px) {
      display: flex;
      justify-content: space-between;
      padding: 40px 0;

      .ui-btn {
        max-width: 360px;
      }

      .ui-checkbox {
        padding-right: 24px;
      }
    }

    @media(max-width: 576px) {
      flex-direction: column;

      .ui-btn {
        max-width: 100%;
      }

      .ui-checkbox {
        padding-right: 0;
        margin-bottom: 25px;
      }
    }

    .ui-checkbox {
      margin-bottom: 16px;
      font-size: 12px;

      label {
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}