.myorder {
  margin-bottom: 88px;

  @media (max-width: 1024.99px) {
    margin-bottom: 56px;
  }

  &-title {
    font-weight: 700;
    @include fz(32);
    margin-bottom: 13px;
    line-height: 1.36;
    color: #000000;
  }

  &-subtitle {
    font-weight: 400;
    @include fz(16);
    margin-bottom: 35px;
    line-height: 1.36;
    color: #808080;
  }

  &-index {
    font-weight: 700;
    @include fz(22);
    margin-bottom: 26px;
    line-height: 1.36;
    color: #000000;
  }

  &-item {
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    border-radius: 8px;
    border: 1px solid #d3d3d3;
    transition: 0.3s background-color, 0.3s color, 0.3s border-color, 0.3s box-shadow, 0.3s -webkit-box-shadow;
    

    &:hover {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
      border: 1px solid transparent;
    }

    @media (max-width: 768.99px) {
      padding: 16px 24px;
    }

    &-title {
      font-weight: 700;
      @include fz(18);
      margin-bottom: 4px;
      line-height: 1.36;
      color: #000000;
    }

    &-send {
      display: flex;
      align-items: center;

      &-circle {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin-right: 8px;
      }

      &-text {
        font-weight: 400;
        @include fz(14);
        line-height: 1.36;
        color: rgba(0, 0, 0, 0.5);
      }
    }

    &-price {
      flex: 0 0 300px;
      max-width: 300px;
      font-weight: 700;
      @include fz(18);
      line-height: 1.36;
      color: #000000;
      text-align: right;

      @media (max-width: 768.99px) {
        display: none;
      }
    }
  }

  &-operation {
    margin-bottom: 55px;
  }

  &-container {
    .myorder-item {
      border: 1px solid #d3d3d3;
      box-shadow: none;

      &:hover {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
        border: 1px solid transparent;
      }
    }
  }
}

.myorder-margin-bottom {
  margin-bottom: 56px;
}

.myorder-item-send-circle-blue {
  background-color: #1a66ae;
}

.myorder-item-send-circle-green {
  background-color: #559e53;
}

.myorder-item-send-circle-yellow {
  background-color: #ffc100;
}

.myorder-item-send-circle-red {
  background-color: #bc0000;
}
