.productdone {
    &-items {
        margin-bottom: 24px;
    }
    &-item {
        padding: 26px 64px;
        border: 1px solid #D3D3D3;
        border-radius: 8px;
        margin-bottom: 16px;
        &:last-child {
            margin-bottom: 0;
        }
         @media(max-width:576.99px) {
                padding: 53px 16px 35px;
            }
        &-title {
            @include fz(20);
            margin-bottom: 10px;
            font-weight: 600;
            position: relative;
            &-icon {
                position: absolute;
                top: 2px;
                left: -32px;
                max-width: 24px;
                 @media(max-width:576.99px) {
                        top: -25px;
                        left: 0;
                    }
            }
        }
        &-list {
            margin-bottom: 0;
        }
    }
    &-infobanner {
        padding: 25px 32px;
        background: #F5F5F5;
        border-radius: 8px; 
        font-weight: 600;
    }
    &-main {
        &-fields {
            display: inline-block;
            height: auto;
            width: 424px;
            padding: 0;
            line-height: 0;
            overflow: hidden;
            margin-bottom: 0;
            margin-right: 24px;
        }
    }
}

.productdone-main-fields-wrapper {
     @media(max-width:1024.99px) {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        margin-right: -40px;
        padding-right: 40px;
        margin-bottom: 55px;
        }
}