.review {
   &-item {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 70px;
    border-bottom: 1px solid $border;

    &-img {
        margin-right: 24px;
        img {
            max-height: 130px;
        }
    }

    &-code {
        margin-bottom: 8px;
        color: rgba(0, 0, 0, 0.5);
       
        
        &-code {
            font-weight: 600;
        }
    }

    &-title {
        margin-bottom: 27px;
        font-size: rem(18);
        font-weight: 600;
    }

    &-link {
        max-width: 200px;
        padding: 10px 20px;
        background-color: $tertiary;

        &-back {
            display: inline-block;
            width: 100%;
            font-size: rem(14);
            color: $font;

            &:hover {
                color: $secondary;
            }
        }

        &-img {
            width: 12px;
            height: 12px;
            margin-right: 12px;
        }
    }

    &-price {
      display: flex;
      align-items: center;

      &-btn {
        background-color: red;
      }
    }

    &-wrap{
      display: flex;
    }

    &-pricelist {
        flex: 0 0 140px;
        max-width: 140px;
        margin-right: 85px;

        &-price {
          font-size: rem(28);
          font-weight: 700;
        } 
    }
    .card-counter{
        display: flex;
    }
   }

   &-list {
    &-body {
        padding-bottom: 30px;
        margin-bottom: 48px;
        border-bottom: 1px solid #D3D3D3;
    }

    &-name {
        margin-bottom: 20px;
        font-size: rem(22);
        font-weight: 700;
    }

    &-data {
        margin-left: 16px;
        font-size: rem(14);
        color: rgba(0, 0, 0, 0.5);
    }

    &-info {
        margin-bottom: 18px;
        &-title {
            font-weight: 700;
        }
    }

    .review-card-rating {
        margin-bottom: 35px;
    }

    .review-list-body:last-child {
        border-bottom: none;
        margin-bottom: 55px;
        padding-bottom: 0;
    }
   }

   &-title {
    margin-bottom: 35px;
    font-size: rem(40);
    font-weight: 700;
  }
}

.rewiew-item-link-img{
    width: 12px;
    height: 12px;
}