.popup-alert {
  &-msg {
    &.password-send {
      margin-bottom: 15px;

      @media(max-width: 576px) {
        text-align: center;
        margin-bottom: 93px;
      }
    }
  }

  &-title {
    &.password-send {
      @media(max-width: 576px) {
        text-align: center;
      }
    }
  }
}