.popup-password {
  background-color: #fff;
  position: relative;
  max-width: 520px;
  margin: 0px auto;
  padding: 34px 48px;
  border-radius: 10px;

  @media(max-width: 576px) {
    border-radius: 0;
    padding: 24px 15px;
    max-width: 100%;
  }

  .mfp-popup-title {
    position: relative;
    margin-bottom: 32px;
    padding-bottom: 32px;

    @media(max-width: 576px) {
      padding-bottom: 18px;
    }

    &::after {
      content: "";
      position: absolute;
      left: -48px;
      right: -48px;
      height: 1px;
      bottom: 0;
      background-color: #D3D3D3;
    }
  }

  .ui-field {
    &.margin-35 {
      margin-bottom: 35px;

      @media(max-width: 576px) {
        margin-bottom: 25px;
      }
    }
  }

  .ui-checkbox {
    margin-bottom: 21px;

    @media(max-width: 576px) {
      margin-bottom: 25px;
    }
  }

  .ui-checkbox-label {
    font-size: 12px;

    @media(max-width: 576px) {
      font-size: 14px;
    }

    &::before {
      top: 6px;
    }

    &::after {
      top: 10px;
    }
  }

  .ui-btn {
    &.margin-31 {
      margin-bottom: 31px;

      @media(max-width: 576px) {
        margin-bottom: 23px;
      }
    }
  }

  &-link {
    @media(max-width: 576px) {
      display: block;
      text-align: center;
    }
  }
}