.popup-password {
  &-txt {
    position: relative;
    margin-bottom: 32px;
    padding-bottom: 32px;

    &::after {
      content: "";
      position: absolute;
      left: -48px;
      right: -48px;
      height: 1px;
      bottom: 0;
      background-color: #D3D3D3;
    }

    span {
      color: rgba(0, 0, 0, 0.7);
    }
  }
}

.popup-review-title {
  &.password-error {
    padding-bottom: 0;
    margin-bottom: 15px;

    &::after {
      content: none;
    }
  }
}