.account {
  max-width: 520px;
  // margin: 20px auto;
  background-color: #ffffff;
  // border-radius: 10px;
  padding: 35px 48px;
  position: relative;

  @media(max-width: 576px) {
    // margin: auto 0 0 0;
    padding: 24px 15px;
    // border-radius: 0;
    max-width: 100%;
  }

  .mfp-popup-title {
    position: relative;
    margin-bottom: 32px;
    padding-bottom: 32px;

    &::after {
      content: "";
      position: absolute;
      left: -48px;
      right: -48px;
      height: 1px;
      bottom: 0;
      background-color: #D3D3D3;
    }

    @media(max-width: 576px) {
      margin-bottom: 18px;
      padding-bottom: 18px;
    }
  }

  .ui-field-wrapper {
    margin-bottom: 17px;

    @media(max-width: 576px) {
      margin-bottom: 15px;
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    .catalog-settings-amount {
      @media(max-width: 1024.99px) {
        display: block;
      }
    }

    .jq-selectbox__select-text {
      color: #000;
    }
  }

  .ui-input-wrp {
    img {
      position: absolute;
      right: 16px;
      top: 8px;
    }
  }

  .ui-checkbox {
    margin-bottom: 21px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
  }

  .ui-field {
    &.mfp-popup-fields {
      margin-bottom: 20px;
    }

    @media(max-width: 576px) {
      margin-bottom: 25px;

      &.mfp-popup-fields {
        margin-bottom: 0;
      }
    }
  }

  &-link {
    display: block;
    margin-bottom: 23px;
    font-weight: 600;
    font-size: 14px;
  }

  &-select {
    overflow: visible;
    padding: 0 16px !important;

    .catalog-settings-select {
      width: 100%;
    }

    .jq-selectbox__trigger-arrow {
      right: 16px;
    }
  }

  .jq-selectbox__select {
    display: block;
    height: 40px !important;
    line-height: 38px !important;
    width: 100%;
    max-width: 100%;
    background: #fff;
    padding: 0px 16px !important;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.5) !important;
    border: 1px solid #D3D3D3 !important;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-transition: 0.3s border, 0.3s color;
    -o-transition: 0.3s border, 0.3s color;
    transition: 0.3s border, 0.3s color;
    border-radius: 5px;
    outline: none;
  }

  .jq-selectbox {
    display: block !important;
  }

  .jq-selectbox__trigger-arrow {
    right: 16px !important;
  }

  .xdsoft_datetimepicker .xdsoft_calendar td>div {
    padding-right: 0;
  }
}

input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
  opacity: 1;
  cursor: pointer;
}

input[type="date"] {
  background: url(../../images/calendar.svg) no-repeat 90% 40%;
}

.xdsoft_timepicker {
  display: none !important;
}

.xdsoft_today_button {
  display: none !important;
}

.xdsoft_prev {
  display: none !important;
}

.xdsoft_next {
  display: none !important;
}

.xdsoft_datetimepicker * {
  font-family: $ffOpenSans, sans-serif !important;
}

.xdsoft_datetimepicker .xdsoft_calendar th {
  color: #2A4455 !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td,
.xdsoft_datetimepicker .xdsoft_calendar th {
  background: transparent !important;
  border: none !important;
  color: #000 !important;
  box-shadow: none !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current {
  background: #F5F5F5 !important;
  border: none !important;
  color: #2A4455 !important;
  box-shadow: none !important;
  border-radius: 5px !important;
}

.xdsoft_datetimepicker {
  border-radius: 8px !important;
  border: none;
}

.xdsoft_datetimepicker .xdsoft_label>.xdsoft_select {
  top: -150px !important;
}

.xdsoft_datetimepicker .xdsoft_label>.xdsoft_select.xdsoft_monthselect {
  right: 27px !important;
  padding: 0 8px !important;
  box-shadow: 0px 2px 10px rgb(0 0 0 / 15%) !important;
}

.xdsoft_datetimepicker .xdsoft_label>.xdsoft_select.xdsoft_yearselect {
  padding: 0 8px !important;
  box-shadow: 0px 2px 10px rgb(0 0 0 / 15%) !important;
}

// .xdsoft_datetimepicker .xdsoft_label>.xdsoft_select {
//   overflow: visible !important;
// }

.xdsoft_datetimepicker .xdsoft_label>.xdsoft_select>div>.xdsoft_option {
  background: #fff !important;
  color: #000 !important;
  padding: 5px 8px !important;
  font-weight: 400;
}

.xdsoft_datetimepicker .xdsoft_label>.xdsoft_select>div>.xdsoft_option.xdsoft_current {
  color: #2A4455 !important;
  background: #F5F5F5 !important;
  box-shadow: none !important;
  border-radius: 5px !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td,
.xdsoft_datetimepicker .xdsoft_calendar th {
  text-align: center !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div:hover {
  color: #000 !important;
  background: transparent !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td>div:hover {
  color: #000 !important;
  background: transparent !important;
  border: 1px solid #D3D3D3 !important;
  border-radius: 5px !important;
  padding: 2px 4px !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td>div {
  border: 1px solid transparent !important;
  padding: 2px 4px !important;
}

.xdsoft_datetimepicker .xdsoft_datepicker {
  width: 200px !important;
  margin-left: 0 !important;
  padding: 0 16px !important;
}

// .xdsoft_datetimepicker {
//   top: 314.578px !important;
// }

.xdsoft_datetimepicker .xdsoft_calendar thead th {
  color: #2A4455 !important;
}

.xdsoft_datetimepicker .xdsoft_month span {
  color: #2A4455 !important;
  font-weight: 600 !important;
}

.xdsoft_datetimepicker .xdsoft_month {
  width: 115px !important;
  text-align: start !important;
}

.xdsoft_datetimepicker .xdsoft_year span {
  color: #2A4455 !important;
  font-weight: 600 !important;
}

.xdsoft_datetimepicker .xdsoft_label>.xdsoft_select {
  min-height: auto !important;
  border: none !important;
  border-radius: 10px !important;
}

.xdsoft_datetimepicker .xdsoft_label>.xdsoft_select.xdsoft_yearselect div:first-child {
  position: relative !important;
  top: 150px !important;
}

.xdsoft_datetimepicker .xdsoft_label>.xdsoft_select {
  max-height: 300px !important;
}

.xdsoft_datetimepicker .xdsoft_label>.xdsoft_select {
  &::after {
    content: "";
    background: url(../../images/up-arrow.svg) no-repeat 0 0;
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999999;
    /* background: white; */
    width: 100%;
    height: 20px;
    background: white url(../../images/up-arrow.svg) no-repeat;
    background-position: center;
  }
  &::before {
    content: "";
    background: url(../../images/up-arrow.svg) no-repeat 0 0;
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 9999999;
    /* background: white; */
    width: 100%;
    height: 20px;
    background: white url(../../images/down-arrow.svg) no-repeat;
    background-position: center;
  }
}

.xdsoft_scrollbar>.xdsoft_scroller {
  &::after {
    content: none !important;
  }
}

.xdsoft_datetimepicker .xdsoft_calendar {
  position: relative !important;
  width: 100% !important;
  padding-top: 11px !important;

  &::after {
    content: "";
    position: absolute;
    left: -15px;
    right: -15px;
    height: 1px;
    top: 0;
    background-color: #D3D3D3;
  }
}

.xdsoft_datetimepicker .xdsoft_label>.xdsoft_select>div>.xdsoft_option:hover {
  background: #F5F5F5 !important;
  border-radius: 5px !important;
  color: #2A4455 !important;
}

.xdsoft_datetimepicker .xdsoft_month .xdsoft_select.xdsoft_monthselect.xdsoft_scroller_box {
  &::after {
    content: none !important;
  }

  &::before {
    content: none !important;
  }
}

.xdsoft_datetimepicker .xdsoft_calendar td>div {
  padding: 0px !important;
}

.xdsoft_datetimepicker {
  padding: 10px 0 !important;
}