.popup-preview {
  max-width: 1400px;
  padding: 48px 64px;

  &-cols {
    font-size: 0;
    letter-spacing: 0;
  }
  &-previews {
    display: inline-block;
    vertical-align: middle;
    width: 112px;
  }
  &-main {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 112px);
    padding-left: 10%;
  }

  @media (max-width: 1024.99px) {
    margin: 0 auto;
    width: 100%;
    border-radius: 0;
    
    padding: 0;

    &-cols {
      padding: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 100vh;
      height: -webkit-fill-available;
    }

    &-main {
      margin-bottom: 48px;
      width: 100%;
      padding-left: 0;
    }

    &-previews {
      order: 1;
      width: 100%;
    }
  }

  @media (max-width: 768.99px) {
    &-cols {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  @media (max-width: 576.99px) {
    &-previews {
      display: none;
      visibility: hidden;
    }
  }
}


.slick-previews {
  padding: 20px 0;

  &-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    padding: 6px;
    border-radius: 5px;
    transition: box-shadow .3s;
    cursor: pointer;
    margin: 20px 0;

    img {
      max-height: 100px;
      display: block;
    }

    &:hover {
      box-shadow: inset 0 0 0 1px rgba($yellow,.5);
    }

    &.active {
      box-shadow: inset 0 0 0 2px $yellow;
    }
  }

  @media (max-width: 1024.99px) {
    padding: 0 25px;
    max-width: 650px;
    margin: 0 auto;

    &-slide {
      margin: 0px 20px;
    }
  }
  @media (max-width: 768.99px) {
    max-width: 550px;
  }
}

.slick-main {
  &-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;

    img {
      max-height: 648px;
    }
  }

  .slick-arrow {
    width: 40px;
    height: 40px;
    margin-top: -20px;
  }

  @media (max-width: 1024.99px) {
    &-slide {
      img {
        max-height: 600px;
      }
    }
  }

  @media (max-width: 576.99px) {
    &-slide {
      padding: 0;

      img {
        max-height: calc(100vh - 80px);
      }
    }
  }
}

// .popup-preview-slider {
//   // background-color: #fff;
//   // border-radius: 10px;
//   display: flex;
  

//   @media (max-width: 1024px) {
//     min-height: 100vh;
//     flex-direction: column-reverse;
//     align-items: center;
//   }

//   @media (max-width: 768px) {
//     padding: 0;
//   }

//   @media (max-width: 650px) {
//     min-height: 100vh;
//     justify-content: center;
//   }

//   .popup-preview-slider-vertic {
//     width: 19%;
//     height: 100%;

//     @media (max-width: 1024px) {
//       width: 80%;
//     }

//     @media (max-width: 650px) {
//       display: none;
//     }
//   }

//   .popup-preview-slider-main {
//     width: 75%;
//     min-height: 100%;
//     padding-top: 25px;

//     @media (max-width: 1024px) {
//       width: 80%;
//     }
//   }

//   .swiper {
//     margin: 0;

//     &.vertical-slider {
//       // height: 700px;

//       // .swiper-wrapper {
//       //   justify-content: center;
//       // }

//       // @media (max-width: 992px) {
//       //   height: 280px;
//       // }

//       .swiper-slide {
//         img {
//           border: 2px solid #fff;
//         }

//         &-active {
//           img {
//             border: 2px solid #ffc100;
//           }
//         }
//       }
//     }
//   }
// }


// .swiper-pagination-bullet {
//   width: var(
//     --swiper-pagination-bullet-width,
//     var(--swiper-pagination-bullet-size, 24px)
//   );
//   height: var(
//     --swiper-pagination-bullet-height,
//     var(--swiper-pagination-bullet-size, 2px)
//   );
//   border-radius: 2px;
// }

// .swiper-pagination-bullet-active {
//   background-color: #2a4455;
// }

// .slider-previes-container {
//   position: relative;
//   padding: 45px 0px;

//   @media (max-width: 650px) {
//     display: none;
//   }
// }

// .preview-btn-next {
//   color: #071c28;
//   position: absolute;
//   transform: rotate(270deg);
//   top: 10px;
//   right: 0;
//   left: 45px;
//   &:after {
//     font-size: rem(20);
//   }

//   @media (max-width: 1024px) {
//     transform: rotate(180deg);
//     top: 100px;
//     right: 0;
//     left: -45px;
//   }
// }
// .preview-btn-prev {
//   color: #071c28;
//   position: absolute;
//   transform: rotate(270deg);
//   // bottom: 10px;
//   top: 95%;
//   right: 0;
//   left: 45px;
//   &:after {
//     font-size: rem(20);
//   }

//   @media (max-width: 1024px) {
//     transform: rotate(180deg);
//     top: 28%;
//     right: 0px;
//     left: 100%;
//   }
// }
// .main-silder-container {
//   position: relative;
//   padding: 0px 30px;
//   text-align: center;

//   @media (max-width: 650px) {
//     padding: 0;
//   }
// }

// .main-button-next {
//   display: inline-block;
//   position: absolute;
//   right: 0;
//   top: 50%;
//   width: 25px;
//   height: 40px;
//   background-image: url(.././images/icons/arrow-slider-preview-next.svg);
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: auto;

//   &.swiper-button-disabled {
//     opacity: 0.35;
//   }

//   @media (max-width: 650px) {
//     display: none;
//   }
// }
// .main-button-prev {
//   display: inline-block;
//   position: absolute;
//   left: 0;
//   top: 50%;
//   width: 25px;
//   height: 40px;
//   background-image: url(.././images/icons/arrow-slider-preview-next.svg);
//   transform: rotate(180deg);
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: auto;

//   &.swiper-button-disabled {
//     opacity: 0.35;
//   }

//   @media (max-width: 650px) {
//     display: none;
//   }
// }

// .swiper-vertical > .swiper-wrapper {
//   justify-content: center;
// }
