.popup-similar {
  width: 78%;

  padding: 34px 64px 40px 64px;
  @media (max-width: 1024px) {
    padding: 34px 48px 40px 48px;
  }
  @media (max-width: 500px) {
    padding-bottom: 1px;
  }
  @media (max-width: 400px) {
    padding: 34px 15px 40px 15px;
    .popup-title {
      font-size: rem(22);
    }
    .popup-product-span {
      display: none;
    }
  }
  &-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
    background-color: #ffffff;

    @media (max-width: 1260px) {
      display: block;
    }
    .card-item-options {
      max-width: 424px;
    }
  }
  &-contant {
    background-color: #f5f5f5;
    padding: 23px 64px 40px 64px;
    margin: -23px -64px -40px -64px;
    border-radius: 10px;
    @media (max-width: 1024px) {
      padding: 0;
      margin: 0;
      background-color: #ffffff;
      .product-item {
        // box-shadow: none;
      }
    }
    @media (max-width: 500px) {
      .product-item {
        box-shadow: 0px 0px 8px rgb(0 0 0 / 10%);
      }
      .like-adaptive {
        display: none;
      }
      .product-item-btn {
        width: 100%;
      }
    }
  }

  .popup-line-big {
    margin: 0 -64px 23px -64px;
    @media (max-width: 1024px) {
      margin: 0 -48px 23px -48px;
    }
  }
  .product-item {
    background-color: #ffffff;
    .product-item {
      max-width: initial;
      min-width: none;
      &-title {
        font-size: rem(14);
        margin-bottom: 28px;
      }
      &-price {
        font-size: rem(18);
      }
      &-img {
        width: 190px;
        height: 190px;
        margin: 0 auto;
      }
    }
    @media (min-width: 500px) {
      .product {
        &-item {
          &-img {
            margin-bottom: 30px;
          }

          &-links {
            display: none;
          }
          &-rait {
            display: none;
          }
          &-like {
            display: none;
          }
          &-add {
            display: none;
          }
          &-btn {
            width: 84px;
            margin-top: -18px;
            &-span {
              display: none;
            }
            img {
              display: inline-block;
              margin-top: 5px;
            }
          }
        }
        &-price {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
  .product-swiper {
    height: initial;
  }
  @media (max-width: 1024px) {
    .swiper-slide {
      width: 264px !important;
    }
    .product-item {
      min-width: 264px;
      max-width: 312px;
    }
    .product-swiper-mob-item {
      margin-right: -48px;
    }
  }
}

.product-swiper-mob-similar {
  @media (max-width: 1024px) {
    .swiper-wrapper {
      transform: translate3d(0px, 0px, 0px) !important;
      transition-duration: 0ms !important;
    }
    // .slider-adaptive-wrap {
    //   transform: translate3d(0px, 0px, 0px) !important;
    // }
  }
}
.product-swiper-mob-similar {
  display: none;
  @media (max-width: 1024px) {
    display: block;
  }
}
.product-swiper-desc-similar {
  display: none;
  @media (min-width: 1024px) {
    display: block;
  }
}
.product-item-like {
  margin-right: 0;
}
.like-adaptive {
  display: none;
}
@media (max-width: 500px) {
  .product-swiper-mob-item {
    margin-right: -15px !important;
  }
}
