.popup {
  &-card {
    width: 78%;
    padding: 32px 64px;
    @media (max-width: 1023px) {
      padding: 32px 48px;
    }
    @media (max-width: 500px) {
      padding-bottom: 0;
      .card-item-price-current {
        line-height: 1.3;
        font-size: rem(22);
      }
      .card-item-price-currency {
        color: #00000075;
      }
      .popup-card-info {
        margin-bottom: 25px;
      }
      .product-item-btn {
        width: 100%;
      }
      .product-item-like {
        margin-right: 0;
      }
    }
    @media (max-width: 446px) {
      .card-btn-adaptive {
        white-space: normal;
        text-overflow: initial;
        overflow: initial;
        line-height: 1.36;
      }
    }
    &-img {
      display: inline-block;
      margin-right: 24px;
      @media (max-width: 1024px) {
        max-width: 88px;
      }
    }
    &-info {
      display: inline-block;
      vertical-align: top;
      &-link {
        color: #000000a8;
      }
    }
    &-title {
      display: flex;
      justify-content: space-between;
      @media (max-width: 1024px) {
        display: block;
      }
    }
    &-wrapper:nth-of-type(2) {
      text-align: right;
      max-width: 240px;
      // margin-bottom: 32px;
      @media (max-width: 1024px) {
        max-width: 100%;
      }
    }
    &-wrapper:nth-of-type(1) {
      @media (max-width: 1023px) {
        display: flex;
      }
    }
    &-contant {
      padding-top: 24px;
      padding: 24px 64px 32px 64px;
      margin: 0 -64px -32px -64px;
      background-color: #f5f5f5;
      border-radius: 10px;
      @media (max-width: 1023px) {
        padding-top: 0;
        background-color: #ffffff;
        margin: 0 -48px -32px -48px;
      }
      @media (max-width: 500px) {
        padding-top: 0;
        background-color: #ffffff;
        margin: 0 -48px -32px -48px;
        padding-bottom: 100px;
        margin-bottom: 0;
      }
    }
    &-optional {
      margin-bottom: 16px;
      @media (max-width: 1023px) {
        display: flex;

        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
      }
      &-link {
        display: inline-block;
        width: calc(50% - 15px);
        height: 40px;
        line-height: 38px;
        border: 1px solid #d3d3d3;
        border-radius: 5px;
        color: #000000;
        font-weight: 600;
        text-align: center;
        background-color: #ffffff;
        white-space: normal;
        @media (max-width: 1023px) {
          display: flex;
          align-items: center;
          justify-content: center;
          // flex-wrap: nowrap;
          min-width: 184px;
          width: 184px;
          height: 80px;
          background-color: #f5f5f5;
          padding: 18px 16px;
          line-height: 1.3;
          border: none;
        }
        &:hover {
          color: #2a4455;
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
          border: none;
        }
        &:first-child {
          margin-right: 24px;
          @media (max-width: 1023px) {
            margin-right: 16px;
          }
        }
      }
    }
    .card-item-price-current {
      color: #000000;
    }
    .card-item-btn {
      @media (max-width: 1024px) {
        display: inline-block;
        width: calc(50% - 15px);
        vertical-align: top;
        &:first-child {
          margin-right: 24px;
        }
      }
    }
    .card-item-features {
      margin-bottom: 16px;
      @media (max-width: 1023px) {
        overflow-x: auto;
        white-space: nowrap;
      }
    }
    .like-adaptive {
      display: none;
    }
  }
  .popup-line-big {
    margin: 0 -64px 23px -64px;
    @media (max-width: 1024px) {
      margin: 0 -48px 23px -48px;
    }
  }
  .product-item {
    background-color: #ffffff;
    @media (min-width: 500px) {
      .product-item {
        max-width: initial;
        min-width: none;
        &-title {
          font-size: rem(14);
          margin-bottom: 28px;
        }
        &-price {
          font-size: rem(18);
        }
      }
    }
    @media (min-width: 500px) {
      .product {
        &-item {
          &-img {
            margin-bottom: 30px;
          }
          &-links {
            display: none;
          }
          &-rait {
            display: none;
          }
          &-like {
            display: none;
          }
          &-add {
            display: none;
          }
          &-btn {
            width: 84px;
            margin-top: -18px;
            &-span {
              display: none;
            }
            img {
              display: inline-block;
              margin-top: 5px;
            }
          }
        }
        &-price {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
  .product-swiper {
    height: initial;
  }
}

@media (max-width: 1024px) {
  .mfp-content {
    background: none;
  }
}
.popup-line-show {
  display: none;
  @media (max-width: 1023px) {
    display: block;
    margin-bottom: 16px;
  }
}
.popup-title {
  @media (max-width: 400px) {
    font-size: rem(22);
  }
}
.product-swiper-mob-item {
  @media (max-width: 1024px) {
    .swiper-wrapper {
      transform: translate3d(0px, 0px, 0px) !important;
    }
  }
}
.popup-card-wrapper-adaptive {
  @media (max-width: 500px) {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    padding: 16px 32px 16px 32px;
    z-index: 5;
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: #ffffff;
    margin-left: -15px;
  }
}
.product-swiper-mob-item {
  @media (max-width: 500px) {
    margin-bottom: 24px;
  }
}

.card-item-features::-webkit-scrollbar {
  width: 0;
}
/* ie 10+ */

.card-item-features {
  -ms-overflow-style: none;
}
/* фф (свойство больше не работает, других способов тоже нет)*/

.card-item-features {
  overflow: -moz-scrollbars-none;
}
.popup-card-optional::-webkit-scrollbar {
  width: 0;
}
/* ie 10+ */
.popup-card-optional {
  -ms-overflow-style: none;
}
/* фф (свойство больше не работает, других способов тоже нет)*/
.popup-card-optional {
  overflow: -moz-scrollbars-none;
}
.product-item-like {
  margin-right: 0;
}
.like-adaptive {
  display: none;
}
.product-swiper-mob-item {
  display: none;
  @media (max-width: 1024px) {
    display: block;
  }
}
.product-swiper-desc-item {
  display: none;
  @media (min-width: 1024px) {
    display: block;
  }
}
