.popup-form-reviews {
  position: relative;
  margin: 20px auto;
  max-width: 696px;

  .mfp-close {
    font-size: 50px;
    top: 24px;

    @media (max-width: 780px) {
      position: fixed;
    }
  }

  .form-reviews {
    @media (max-width: 780px) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      bottom: 0;
      position: fixed;
      overflow-y: scroll;
      overflow-x: hidden;
    }
    
    &-content {
      background: #fff;
      width: 696px;
      height: 100%;
      margin: 0px auto;
      border-radius: 10px;
  
      @media (max-width: 680px) {
        width: 100%;
      }
    }
  
    &-header {
      padding: 34px 48px;
      border-bottom: 1px solid #d3d3d3;
  
      @media (max-width: 680px) {
        padding: 34px 15px;
      }
  
      &-title {
        font-weight: 700;
        font-size: 28px;
        color: #000;
        margin-bottom: 15px;
      }
  
      &-item {
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 12px;
  
        span:nth-child(1) {
          @media (max-width: 680px) {
            display: none;
          }
        }

        span:nth-child(2) {
          font-weight: 700;
          font-size: 16px;
          color: #1a66ae;
        }
      }
    }
  
    &-body {
      padding: 34px 48px;
  
      @media (max-width: 680px) {
        padding: 34px 15px;
      }
  
      .form-cell {
        display: flex;
        justify-content: space-between;
        margin-bottom: 17px;
  
        @media (max-width: 680px) {
          flex-direction: column;
        }
  
        label {
          font-weight: 400;
          font-size: 14px;
          color: #000;
  
          span {
            color: #bc0000;
          }
        }
  
        input {
          width: 288px;
          height: 40px;
          border: 1px solid #d3d3d3;
          padding: 10px 16px;
          border-radius: 5px;
          margin-top: 5px;
  
          @media (max-width: 680px) {
            width: 100%;
            margin-bottom: 25px;
          }
  
          &:focus {
            border: 1px solid #808080;
          }
  
          &:hover {
            border: 1px solid #808080;
          }
        }

        .btn-submit {
          padding: 14px 30px;
          background-color: #2a4455;
          color: #fff;
          font-weight: 700;
          border: none;
          font-size: 16px;
          border-radius: 5px;
        
          @media (max-width: 680px) {
            width: 100%;
          }
        }
  
        &-info {
          span.error {
            color: red;
            font-size: 0.75rem;
            margin-bottom: 2px;
          }
        }

        &-field {
          &-textarea {
            position: relative;
            
            @media (max-width: 680px) {
              margin-bottom: 25px;
            }

            textarea {
              padding: 10px 16px;
              width: 600px;
              height: 104px;
              border: 1px solid #d3d3d3;
              border-radius: 5px;
              resize: none;
              margin-top: 5px;
            
              &:focus {
                border: 1px solid #808080;
              }
            }
          }

          &-quality {
            display: flex;
            justify-content: space-between;
          
            @media (max-width: 680px) {
              flex-direction: column;
            }
          
            .plus {
              border: 1px solid #559e53;
            }
          
            .minus {
              border: 1px solid #bc0000;
            }
          }

          &-load {
            input[type="file"] {
              display: none;
            }
            
            .error-file {
              color: #BC0000;
              font-size: 14px;
            }

            .img-file {
              width: 88px;
              height: 64px;
            }
            
            .load-file {
              border: 1px solid #ccc;
              display: inline-block;
              cursor: pointer;
              border-radius: 5px;
              height: 60px;
              padding: 15px 16px;
              width: 288px;
            
              @media (max-width: 680px) {
                width: 100%;
                margin-bottom: 25px;
              }
            
              span {
                position: relative;
                top: -12px;
                color: #000;
                padding-left: 16px;
              }
            }
          }

          &-url {
            position: relative;
            
            img {
              position: absolute;
              z-index: 10;
              padding: 18px;
            }
            
            input {
              height: 60px;
              position: relative;
              z-index: 9;
              padding-left: 66px;
            
              &::placeholder {
                color: #bc0000;
                font-size: 16px;
              }
            }
          }

          &-send {
            display: flex;
            flex-direction: row;
            margin-right: 40px;

            .popup-agreement-txt {
              width: 330px;
              color: rgba(0, 0, 0, 0.5);
            }
            
            .checkbox {
              margin-bottom: 0;
              top: 5px;
            }
          }
        }
  
        &-rating {
          display: inline-block;
  
          @media (max-width: 680px) {
            margin-bottom: 25px;
          }
  
          .rating-set {
            align-items: center;
            margin-top: 12px;

            .card-item-rating-body {
              font-size: rem(50);
  
              &::before {
                color: #f9de8e;
              }
            }
  
            .card-item-rating-value {
              font-size: 28px;
            }

            // span.error {
            //   color: red;
            //   font-size: 0.75rem;
            // }
          }
        }
      }
    }

    // &-valid {
    //   span.error {
    //     position: absolute;
    //     bottom: -15px;
    //     left: 0;
    //     font-size: 11px;
    //     color: red;
    //   }
    // }
  }
}

.all-files {
  display: flex;
}

.all-files-item {
  position: relative;
  margin-right: 12px;
}

.remove-file {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 600;
  color: #fff;
  background-color: rgba(255, 255, 255, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 999;

  &:hover {
    color: #FFC100;
  }
}

.type-file {
  padding: 5px;
  position: absolute;
  bottom: 6px;
  left: 0;
  color: #fff;
  background-color: rgba(255, 255, 255, .5);
  cursor: pointer;
  z-index: 999;
  font-size: 12px;
}

.open-files {
  width: 88px;
  height: 64px;
  text-align: center;
  padding: 18px 0;
  border: 1px solid #D3D3D3;
  border-radius: 10px;

  img {
    width: 26px;
    height: auto;
  }
}