.popup {
  &-img {
    text-align: center;
  }
}
.zaglushka-phone {
  .popup {
    &-title {
      font-size: rem(28);
    }
    @media(max-width:576px) {
      &-title {
        text-align: center;
      }
      &-text {
        text-align: center;
      }
    }
   
  }
  @media (max-width: 450px) {
    height: 100vh;
    border-radius: 0;
  }
  // .mfp-close {
  //   font-size: 0;
  //   top: 24px;
  //   right: 24px;
  //   height: 24px;
  //   width: 24px;
  //   background-image: url(.././images/icons/Close.svg);
  //   background-repeat: no-repeat;
  //   background-position: center;
  // }
  .page-stickers {
    margin-bottom: 0px;
    overflow-x: initial;
    white-space: initial;
    .ui-sticker {
      margin-bottom: 8px;
    }
  }
}
