@import "./abstracts/var";
@import "./abstracts/mixin";
@import "./mini.scss";

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  min-height: 100%;
  font-family: $ffOpenSans, sans-serif;
  font-weight: 400;
  @include fz(16);
  line-height: 1.35;
  color: #000;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
.body-hidden {
  overflow: hidden;
  &-search {
  overflow: hidden;
   
  }
}

#wrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
}
#middle {
  -webkit-box-flex: 1;
  flex: 1 0 auto;
}

#footer {
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  @media (max-width: 768px) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

img[loading] {
  min-height: 1px;
}


@import "./base/typography";

// Layout
@import "./layout/grid";
@import "./layout/header";
@import "./layout/footer";
@import "./layout/form";
// Base

@import "./base/default";
@import "./base/ui";
// Component
@import "./components/stickers";
@import "./components/rating";
@import "./components/download-link";
@import "./components/product";
@import "./components/circle-info";
@import "./components/btn-feedback";
@import "./components/cardSticky";
@import "./components/list-li";
@import "./components/compare";
@import "./components/catalog-menu";
@import "./components/search-menu";


// Pages
@import "./pages/pages";
@import "./pages/reviews-page";
@import "./pages/making-order";
@import "./pages/cart";
@import "./pages/thanks";
@import "./pages/delivery&pay";
@import "./pages/producers";
@import "./pages/repaircmp";
@import "./pages/service";
@import "./pages/entries";
@import "./pages/service-reminder";





// @import "./pages/nazz";

// Vendors
@import "./vendors/swiper-slider";
// Popups
@import "./popups/popups";

@import "./pages/main";
@import "./pages/myorder";
@import "./pages/waiting-list";
@import "./pages/request";
@import "./pages/favorites";
@import "./pages/account";
@import "./pages/order";
@import "./pages/assistance";


// part 3
@import "./pages/articles";
@import "./pages/notfound";
@import "./pages/ressearch";
@import "./pages/contacts";
@import "./pages/services";
@import "./pages/complite";
@import "./pages/producentpg";
@import "./pages/productdone";
@import "./pages/compare";
@import "./pages/compare2";
