p {
  margin: 0px 0px 24px;
}

ul,
ol,
li {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: $ffOpenSans;
  color: #000;
  text-transform: none;
  line-height: 1.42;
  font-weight: 700;
  margin: 30px 0px 24px;
}

h1,
.h1 {
  font-size: rem(40px);
  margin-top: 0;
}

h2,
.h2 {
  font-size: rem(32px);
}

h3,
.h3 {
  font-size: rem(22px);
}

h4,
.h4 {
  font-size: rem(18px);
}
h5,
.h5 {
  font-size: rem(16px);
}

a {
  color: $colorBlue;
  text-decoration: none;
  outline: none;

  &:hover {
    color: $secondary;
  }
}

ol,
ul,
li {
  padding: 0;
  margin: 0;
}
