
$ffOpenSans: "Open Sans";
$colorBlue: #1a66ae;
$colorDark: #2a4455;
$colorRed: #bc0000;

$primary: #bc0000;
$primary_hover: #991C12;
$secondary: #2A4455;
$secondary_hover: #3F5766;
$tertiary: #F5F5F5;

$yellow: #FFC100;
$valid: #559E53;
$invalid: $primary;

$border: #D3D3D3;

$font: #000;
$gray: #848484;
$gray_trn: rgba(#000, .5);

$disabled: #f5f5f5;

$shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);