.footer {
  padding: 40px 0px;
  background: #1d262c;
  color: #fff;
  @media (max-width: 768px) {
    padding: 32px 0px 37px 0px;
  }
  ul li {
    // margin-bottom: 5px;
    @media (max-width: 768px) {
      margin-bottom: 15px;
    }
  }
  ul li a {
    color: #fff;
    opacity: 0.5;
    font-size: rem(14);

    &:hover {
      text-decoration: underline;
    }
    @media (max-width: 768px) {
      margin-bottom: 15px;
    }
  }
  &-top {
    padding-bottom: 27px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    @media (max-width: 768px) {
      border-bottom: none;
      padding-bottom: 0;
    }
    &-title {
      font-weight: 700;
      margin-bottom: 12px;
      position: relative;
      @media (max-width: 768px) {
        margin-bottom: 0;
        &.footer-open {
          margin-bottom: 22px;
        }
        &:after {
          content: "";
          display: inline-block;
          position: absolute;
          border-top: 2px solid #fff;
          border-right: 2px solid #fff;
          transform: rotate(135deg);
          width: 8px;
          height: 8px;
          right: 0;
          top: 5px;
        }
        &.footer-open:after {
          transform: rotate(-45deg);
        }
        & + ul {
          display: none;
        }
        &.footer-open + ul {
          display: block;
        }
      }
    }
    &-services {
     
      @media (max-width: 768px) {
        margin-bottom: 44px;
        .footer-top-wrap {
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
      }
    }
    &-wrap {
      @media (max-width: 768px) {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding: 20px 15px;
        margin: 0px -20px;
      }
    }
    &-about {
      @media (max-width: 1170px) {
        &-wrapper {
          margin-bottom: 19px;
          @media (max-width: 768px) {
            margin-bottom: 0;
          }
        }
      }
    }
    &-info {
      @media (max-width: 1170px) {
        &-wrapper {
          margin-bottom: 16px;
          @media (max-width: 768px) {
            margin-bottom: 0;
          }
        }
      }
    }
    &-contact {
      @media (max-width: 768px) {
        text-align: center;
      }
    }
    &-pay {
      margin-bottom: 27px;
    }
    &-logo {
      margin-bottom: 7px;
      max-width: 150px;
      img {
        max-height: 48px;
      }
    }
    &-wrapper {
      margin-bottom: 27px;
      @media (max-width: 768px) {
        margin-bottom: 0;
      }
    }
    &-resource {
      .footer-top-title {
        display: none;
      }
      @media (max-width: 768px) {
        .footer-top-title {
          display: block;
          & + .footer-top-media-wrapper {
            display: none;
          }
          &.footer-open + .footer-top-media-wrapper {
            display: inline-block;
          }
          & + .footer-bottom-info {
            display: none;
          }
          &.footer-open + .footer-bottom-info {
            display: inline-block;
            
          }
        }
      }

      @media (max-width: 1170px) {
        margin-bottom: 20px;
        @media (max-width: 768px) {
          margin-bottom: 0;
        }
      }
      &-sub {
        margin-bottom: 34px;
      }
      &-wrapper {
        font-size: rem(14);
        opacity: 0.5;
        @media (max-width: 768px) {
          margin-bottom: 40px;
        }
      }
    }
  }

  &-contacts {
    margin-bottom: 25px;
    &-link {
      display: block;
      color: #fff;
      font-size: rem(22);
      font-weight: 600;
      margin-bottom: 12px;
      @media (max-width: 1240px) and (min-width: 1170px) {
        font-size: rem(20);
      }
      &:hover {
        text-decoration: underline;
      }
      &-img {
        display: inline-block;
        position: relative;
        bottom: -2px;
        margin-right: 10px;
        max-width: 20px;
      }
    }
  }
  &-street {
    max-width: 215px;
    opacity: 0.5;
    margin-bottom: 20px;
    @media (max-width: 768px) {
      max-width: initial;
    }
  }
  &-clock {
    opacity: 0.5;
    @media (max-width: 1170px) {
      margin-bottom: 26px;
    }
  }

  &-bottom {
    padding-top: 31px;
    @media (max-width: 768px) {
      padding-top: 0;
    }
    &-links {
      @media (max-width: 768px) {
        margin-bottom: 40px;
        text-align: center;
      }
      &-title {
        font-weight: 700;
        margin-bottom: 11px;
      }
      &-link {
        max-width: 40px;
        margin-right: 8px;
        img {
          max-height: 40px;
        }
      }
    }
    &-socials {
      @media (max-width: 768px) {
        text-align: center;
        margin-bottom: 40px;
      }
      &-wrapper {
        @media (max-width: 1170px) {
          margin-bottom: 20px;
          @media (max-width: 768px) {
            text-align: center;
          }
        }
      }
      &-title {
        font-weight: 700;
        margin-bottom: 11px;
      }
      &-link {
        position: relative;
        display: inline-block;
        border: 1px solid #fff;
        border-radius: 5px;
        margin-right: 8px;
        min-width: 40px;
        min-height: 40px;
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
        svg {
          position: absolute;
          transform: translate(-50%,-50%);
          top: 50%;
          left: 50%;
          width: 24px;
          height: 24px;
          fill: #fff;
        }
      }
    
    }
    &-reit {
      &-title {
        font-weight: 700;
        margin-bottom: 11px;
      }
      &-link {
        display: block;
        width: 190px;
        border: 1px solid #fff;
        border-radius: 4px;
        padding: 0px 12px;
        margin-bottom: 8px;
        height: 40px;
        line-height: 38px;
        vertical-align: middle;
        @media (max-width: 1240px) and (min-width: 1170px) {
          width: 175px;
        }
        span {
          font-weight: 600;
          color: #fff;
          // vertical-align: top;
        }
        .fix-map {
          top: 5px;
        }
        @media (max-width: 1170px) {
          display: inline-block;
          margin-right: 16px;
        }
      }
      &-map {
        display: inline-block;
        max-width: 100px;
        margin-right: 15px;
        position: relative;
        top: 3px;
        @media (max-width: 1240px) and (min-width: 1170px) {
          margin-right: 0;
        }
        img {
          max-height: 24px;
        }
      }
      &-star {
        display: inline-block;
        max-width: 20px;
        position: relative;
        top: 2px;
        img {
          max-height: 20px;
        }
      }
    }
    &-info {
      opacity: 0.5;
      &-subtitle {
        margin-bottom: 60px;
        @media (max-width: 1170px) {
          margin-bottom: 20px;
        }
      }
      &-coopyright {
        font-size: rem(12);
      }
    }
  }
}

.footer-top-wrap {
  margin-bottom: 27px;
}

// custom columns

@media (max-width: 1170px) {
  .col-none {
    display: none;
  }
}
@media (max-width: 768px) {
  .col-none-7 {
    display: none;
  }
}
