.main-contacts-tel-arrow {
  display: inline-block;
  position: absolute;
  margin-left: 6px;
  bottom: 2px;
  max-width: 12px;
  cursor: pointer;
  img {
    min-width: 12px;
  }
}
.main-contacts-tel-numbers {
  display: none;
  position: absolute;
  z-index: 1;
  background: #fff;
  border: 1px solid black;
}
.numbers-open {
  display: block;
}
// 🍤
.header {
  position: relative;
  margin-bottom: 17px;
  transition: transform 0.4s, background-color 0.2s, -webkit-transform 0.4s;
  will-change: transform;
  @media (max-width: 1024px) {
    padding: 11px 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  .menu {
    background: #f5f5f5;
    padding: 10px 0px;
    font-size: rem(14);
    @media (max-width: 1024px) {
      display: none !important;
    }
    li {
      display: inline-block;
      a {
        margin-right: 32px;
        color: #000;
        &:hover {
          text-decoration: underline;
        }
        @media (max-width: 1300px) {
          margin-right: 16px;
        }
        @media (max-width: 1170px) {
          margin-right: 10px;
        }
      }
    }
    &-wrap {
      text-align: right;
      @media (max-width: 1170px) {
        text-align: left;
      }
    }
    &-time {
      display: inline-block;
      position: relative;
      margin-right: 56px;
      @media (max-width: 1170px) {
        margin-right: 30px;
      }
    }
    &-address {
      position: relative;
      display: inline-block;
    }
    &-icon {
      position: absolute;
      bottom: -2px;
      left: -26px;
      max-width: 24px;
      height: 24px;
      img {
        max-height: 24px;
      }
    }
  }
  .main {
    padding: 18px 0px;
    &-container {
      gap: 32px;
      @media (max-width: 1170px) {
        gap: 20px;
      }
      @media (max-width: 1024px) {
        gap: 0;
      }
    }

    @media (max-width: 1024px) {
      padding: 0px;
      height: 100%;
    }
    &-card {
      display: none;
      @media (max-width: 1024px) {
        display: inline-block;
        margin-left: 12px;
      }
    }
    &-logo {
      flex: 0 0 192px;
      max-width: 192px;
      @media (max-width: 1024px) {
        display: flex;
        width: 100%;
        max-width: initial;
        flex: auto;
        justify-content: space-between;
        align-items: center;
      }
      &-img {
        height: 40px;
      }
      img {
        max-height: 40px;
      }
    }
    &-catalog {
      white-space: nowrap;
      height: 40px;
      line-height: 40px;
      background-color: $colorRed;
      color: #fff;
      font-size: rem(14);
      font-weight: 600;
      border-radius: 5px;
      padding: 0px 14px;
      @media (max-width: 1024px) {
        display: inline-block;
        height: 48px;
        width: 48px;
        line-height: 48px;
      }
      &-wrapper {
        @media (max-width: 1024px) {
          display: flex;
          align-items: center;
          justify-content: end;
          flex: 0 0 134px;
          max-width: 134px;
          padding-left: 24px;
          @media (max-width: 400px) {
            flex: 0 0 108px;
            padding-left: 12px;
          }
        }
      }
      &-text {
        display: inline-block;
        @media (max-width: 1270px) {
          display: none;
        }
      }
    }
    &-toggler {
      position: relative;
      display: inline-block;
      width: 18px;
      height: 2px;
      border-radius: 2px;
      background-color: #fff;
      bottom: -2px;
      margin-right: 8px;
      @media (max-width: 1350px) {
        margin-right: 4px;
      }
      &:after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 18px;
        height: 2px;
        border-radius: 2px;
        background-color: #fff;
        top: -6px;
      }
      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 18px;
        height: 2px;
        border-radius: 2px;
        background-color: #fff;
        top: -12px;
      }
    }
    &-contacts {
      font-weight: 600;
      white-space: nowrap;
      padding-right: 12px;
      a {
        color: #000;
      }
      @media (max-width: 1024px) {
        display: none;
      }
      &-tel,
      &-email {
        display: block;
        position: relative;
        padding-left: 26px;

        @media (max-width: 1170px) {
          font-size: rem(14);
        }
        &:hover {
          text-decoration: underline;
        }
      }
      &-icon {
        position: absolute;
        transform: translate(0%, -50%);
        top: 50%;
        left: 0;
        max-width: 20px;
        height: 20px;
        img {
          max-height: 20px;
        }
      }
    }
    &-menu {
      white-space: nowrap;
      @media (max-width: 1024px) {
        display: none;
      }
      text-align: center;
      &-services {
        display: inline-block;
        cursor: pointer;
        margin-left: 26px;
        transition: 0.1s ease;
        @media (max-width: 1170px) {
          margin-left: 10px;
        }
        &:hover {
          opacity: 0.5;
        }
        &-img {
          position: relative;
        }
        &-svg {
          max-width: 24px;
          max-height: 24px;
        }

        &-text {
          font-size: rem(14);
          @media (max-width: 1170px) {
            font-size: rem(13);
          }
        }
        &-label {
          position: absolute;
          width: 30px;
          height: 16px;
          background: $colorRed;
          border-radius: 10px;
          font-size: rem(12);
          font-weight: 600;
          text-align: center;
          overflow: hidden;
          white-space: nowrap;
          color: #fff;
          transform: translate(0, -50%);
          top: 3px;
          left: 50%;
        }
      }
    }
  }
  .nav {
    background: #fff;
    gap: 2px;
    @media (max-width: 1024px) {
      display: none;
    }

    &-wrapper {
      background: #f5f5f5;
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      padding: 15px 15px;
      background: #f5f5f5;
      text-align: center;
      flex: 0 0 20%;
      max-width: 20%;
      color: #000;
      &:hover {
        background: #ededed;
      }
      &-img {
        display: flex;
        align-items: center;
        img {
          max-height: 32px;
        }
        @media (max-width: 1340px) {
          left: 10px;
        }
        @media (max-width: 1240px) {
          left: 0;
        }
      }
    }
    &-select {
      color: $colorRed;
    }
  }
  .mob-menu {
    display: none;
    @media (max-width: 1024px) {
      display: block;
      padding-right: 24px;
      @media (max-width: 400px) {
        padding-right: 12px;
      }
      &-img {
        display: inline-block;
        max-width: 32px;
        height: 32px;
        margin-left: 16px;
        @media (max-width: 400px) {
          margin-left: 8px;
        }
        img {
          max-height: 32px;
          @media (max-width: 350px) {
            max-height: 28px;
          }
        }
      }
    }
  }
}

.mobile-separ {
  display: none;
}
.mobile-card {
  display: none;
  max-width: 32px;
  img {
    max-height: 32px;
    @media (max-width: 350px) {
      max-height: 28px;
    }
  }
  @media (max-width: 1024px) {
    display: inline-block;
    margin-right: 32px;
    @media (max-width: 400px) {
      margin-right: 16px;
    }
  }
}
@media (max-width: 1024px) {
  .mobile-separ {
    position: relative;
    display: inline-block;
    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 1px;
      height: 80px;
      background: #d3d3d3;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }
  }
}

// Input
.main-search {
  &-form {
    position: relative;
    width: 100%;
    @media (max-width: 1024px) {
      display: none;
    }
  }
  &-input {
    width: 100%;
    border-color: #d3d3d3;
    padding-right: 87px;
  }
  &-btn {
    border: none;
    height: 40px;
    width: 80px;
    padding: 0;
    position: absolute;
    background-color: $colorDark;
    transform: translate(0%, -50%);
    top: 50%;
    right: 0;
    border-radius: 0 5px 5px 0;
    &-img {
      max-width: 24px;
      height: 24px;
      position: relative;
      bottom: -2px;
      display: inline-block;
      img {
        max-height: 24px;
      }
    }
  }
}

.header.headerCard_fixed {
  box-shadow: none;
}
.header_fixed {
  position: fixed;
  background: #fff;
  z-index: 999;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  transform: translate3d(0px, 0px, 0px);
  .main {
    padding: 17px 0px;
  }
}

.wrapper_fixed {
  padding-top: 195px;
}

.headerCard_fixed {
  box-shadow: initial;
  border-bottom: 1px solid #d3d3d3;
}
