// Breadcrumbs example
[class*="-breadcrumbs"] {
  text-align: left;
  a {
    font-size: rem(14px);
    font-weight: 400;
    color: #000;
    display: inline-block;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  :last-child {
    opacity: 0.5;
    text-decoration: none;
    i {
      display: none;
    }
  }
  i {
    margin-left: 8px;
    margin-right: 8px;
    font-size: 10px;
  }
}

.page-breadcrumbs {
  margin-bottom: 28px;
  @media (max-width: 400px) {
    margin-bottom: 24px;
  }
}

@media (max-width: 1024.99px) {
  .page-breadcrumbs {
    overflow-x: auto;
    white-space: nowrap;

    i,
    a {
      display: none;
    }
    a:nth-last-child(-n + 3) {
      display: inline-block;
    }
    i:nth-last-child(-n + 2) {
      display: inline-block;
    }
  }
}

.page-breadcrumbs::-webkit-scrollbar {
  width: 0;
}
.page-breadcrumbs {
  -ms-overflow-style: none;
}
.page-breadcrumbs {
  overflow: -moz-scrollbars-none;
}
