button {
  cursor: pointer;
}

// Example of Btn
.ui-btn {
  display: inline-block;
  height: 48px;
  line-height: 46px;
  background: #fff;
  // padding: 0px 36px;
  font-family: $ffOpenSans;
  font-weight: 600;
  font-size: rem(16px);
  color: #000;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.3s ease;
  border-radius: 5px;
  &:hover {
    opacity: 0.8;
  }
}