@media(max-width:576px) {
  .col-0 {
    display: none;
  }
}


.card-sticky {
  opacity: 0;
  z-index: -999;
  transform: translateY(-100%);
  display: block;
  position: fixed;
  background: #fff;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  &.opened {
    display: block;
  }

  .card-counter {
    margin-bottom: 0;
    margin-right: 13%;
  }
  .card-price {

    &-current {
      line-height: 1;
      margin-bottom: 2px;
    }
  }
  
  &-row {
    padding: 10px 0px;
    height: 84px;
  }
  &-item {
    &-img {
      flex: 0 0 72px;
      max-width: 72px;
      margin-right: 24px;

      img {
        max-height: 64px;
        display: block;
      }
    }
    &-title {
      font-size: rem(18);
      font-weight: 600;
      color: rgba(0, 0, 0, 0.7);
      margin-bottom: 2px;
    }

    .card-rating {
      @include fz(14);

      &-value {
        margin-right: 5px;
      }
      &-counter {
        vertical-align: bottom;
      }
    }
  }
  .card-item-wrap {
      @media(max-width:1024.99px) {
          justify-content: center;
      }
      @media(max-width:576px) {
            justify-content: start;
      }
  }
  .card-item-rating {
    @media(max-width:1024.99px) {
        display: none;
    }
  }
  .card-item-price-currency {
    margin: 0;
    @media (max-width: 1024.99px) {
      font-size: rem(16);
    }
    @media(max-width:400px) {
        font-size: rem(15);
    }
  }
  .card-item-price-current {
    
    @media(max-width:400px) {
        font-size: rem(24);
    }
  }

  &-btn {
    width: 100%;
    display: block;

    &-icon {
      display: none;
    }
  }

  @media (max-width: 1100px) {
    .card-counter {
      display: none;
    }

    &-product {
      flex: 0 0 60%;
      max-width: 60%;
    }
    &-prices {
      flex: 0 0 calc(40% - 140px);
      max-width: calc(40% - 140px);
    }
    &-btns {
      flex: 0 0 140px;
      max-width: 140px;
    }
    &-btn {
      font-size: 0;
      color: transparent;

      &-icon {
        display: inline-block !important;
        fill: #FFF;
      }

      &__ozon {
        padding: 8px 4px;
        @include fz(14);
        color: #fff;
        white-space: unset;
        line-height: 1.4;
        height: 56px;  
      }
    }

    &-item {
      &-title {
        max-height: 48px;
        overflow: hidden;
        margin-bottom: 0;
      }
      .card-rating {
        display: none;
      }
    }
  }

  @media (max-width: 841px) {
    &-product {
      flex: 0 0 calc(100% - 350px);
      max-width: calc(100% - 350px);
    }
    &-prices {
      flex: 0 0 210px;
      max-width: 210px;
    }
  }

  @media (max-width: 678px) {
    &-product {
      display: none;
      visibility: hidden;
    }
    &-prices {
      flex: 0 0 calc(100% - 140px);
      max-width: calc(100% - 140px);
    }
  }

  @media (max-width: 576.99px) {
    &-btn {
      &-icon {
        width: 44px;
      }
    }
  }

  @media (max-width: 360px) {
    .card-price-current {
      @include fz(24);
    }
    &-prices {
      flex: 0 0 calc(100% - 116px);
      max-width: calc(100% - 116px);
    }
    &-btns {
      flex: 0 0 116px;
      max-width: 116px;
    }
    &-btn {
      padding: 0px 30px;

      &__ozon {
        padding: 8px 4px;
      }
    }
  }
}

.card-breackpoint-open {
  opacity: 1;
  z-index: 10;
  transform: translateY(0);
}

@media (max-width: 679px) {
  .middle.panel-is-float {
    padding-bottom: 84px;
  }
}

