@media(max-width:576px) {
  .col-0 {
    display: none;
  }
}


.card-sticky {
  display: none;
  position: fixed;
  background: #fff;
  width: 100%;
  z-index: 10;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  &-wrapper {
    padding: 10px 0px;
  }
  &-btn {
    width: 100%;
    background: $colorRed;
    color: #fff;
    &:hover {
      background: #991C12;
    }
    @media(max-width:1024.99px) {
        font-size: 0;
    }
    @media(max-width:576px) {
        max-width: 116px;
    }
    &-wrapper {
      height: 100%;
      display: flex;
      align-items: center;
      @media(max-width:576px) {
          justify-content: flex-end;
      }
    }
    &-img {
      display: none;
      max-width: 46px;
      width: 46px;
      height: 34px;
      line-height: 0;
      vertical-align: middle;
      background-image: url(.././images/icons/Addcart.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      @media(max-width:400px) {
          max-width: 36px;
      }
      img {
        max-height: 38px;
      }
      @media(max-width:1024.99px) {
          display: inline-block;
      }
    }
  }
  .ui-btn {
    &:hover {
      opacity: 1;
    }
  }
  &-item {
    &-img {
      max-width: 72px;
      margin-right: 24px;
      img {
        max-height: 72px;
      }
    }
    &-title {
      font-size: rem(18);
      font-weight: 600;
      color: rgba(0, 0, 0, 0.7);
      margin-bottom: 4px;
    }
 
  }
  .card-item-wrap {
      @media(max-width:1024.99px) {
          justify-content: center;
      }
      @media(max-width:576px) {
            justify-content: start;
      }
  }
  .card-item-rating {
    @media(max-width:1024.99px) {
        display: none;
    }
  }
  .card-item-price-currency {
    margin: 0;
    @media (max-width: 1024.99px) {
      font-size: rem(16);
    }
    @media(max-width:400px) {
        font-size: rem(15);
    }
  }
  .card-item-price-current {
    
    @media(max-width:400px) {
        font-size: rem(24);
    }
  }
  .card-item-counter {
    margin-bottom: 0;
    @media (max-width: 1024.99px) {
      display: none;
    }
    
  }
 
}

.card-breackpoint-open {
  display: block;
}


.cardBtnCheck-disabled {
  background: #F5F5F5;
  color: #D3D3D3;
  &:hover {
    background: #F5F5F5;
    color: #D3D3D3;
  }
}
.cardstyle {
  background: #2A4455;
  &:hover {
    background-color:#3F5766;
  }
}
.card-sticky-btn-change {
  background-image: url(.././images/icons/AddCart-add.svg);
}