.compare-wrapper {
    display: none;
    position: fixed;
    z-index: 9;
    bottom: 0;
    right: 0;
    width: 100%;
}
.compare-open {
    display: inline-block;
}
.compare-container {
    position: relative;
    width: 100%;
}

.compare-btn {
    position: absolute !important;
    right: 0;
}

.compare-wrapper .catalog-products-reniev .calculator-btn {
    background: #2A4455;
    color: #fff;
    &:hover {
        background: #425f74;
    }
}
.compare-wrapper .catalog-products-reniev .calculator-reload {
    background: #2A4455;
    &:hover {
        background: #425f74;
        .calculator-reload-img-svg {
            fill-opacity: 1;
        }
    }
}

.compare-wrapper .calculator-reload-img-svg {
    fill-opacity: 0.5
   
}
// .compare-wrapper .calculator-reload-img-svg:hover {
//     fill-opacity: 1
   
// }

   
