.product-card {
  padding: 16px 20px;
  margin-bottom: 24px;
  min-height: calc(100% - 24px);
  box-shadow: $shadow;
  position: relative;
  border-radius: 8px;
  @include fz(14);

  &-top {
    position: relative;
    margin-bottom: 8px;

    .product-card-code {
      display: none;
    }
  }

  &-topline {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 1;
    cursor: pointer;
  }
  &-sticker {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    height: 24px;
    line-height: 24px;
    padding: 0px 16px;
    background-color: $colorDark;
    border-radius: 5px;
    color: #FFF;
    max-width: calc(100% - 45px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
  }
  &-stickers {
    display: none;
    padding-top: 8px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(255,255,255,0.8);
      z-index: -1;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      height: 80px;
      background: linear-gradient(180deg,rgba(255,255,255,0.8), rgba(255,255,255,0));
      z-index: -1;
    }
  }
  &-arrow {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 36px;
    height: 24px;
    line-height: 22px;
    border: 1px solid $border;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: border .15s;

    svg {
      pointer-events: none;
    }

    &-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      fill: $border;
      transform: translate(-50%, -50%);
      width: 12px;
      height: 12px;
      transition: transform .15s;
    }

    &:hover {
      border-color: $colorDark;

      .product-card-arrow-icon {
        fill: $colorDark;
      }
    }
  }

  &-rateline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
  }
  &-rate {
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    line-height: 22px;
    padding: 0px 14px;
    border: 1px solid $yellow;
    border-radius: 5px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;

    &-icon {
      position: relative;
      top: -2px;
      vertical-align: middle;
      width: 14px;
      height: 12px;
      margin-right: 3px;
      fill: $yellow;
    }
  }
  &-code {
    color: $gray_trn;
    white-space: nowrap;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;

    &-code {
      font-weight: 600;
    }
  }

  &-title {
    @include fz(16);
    font-weight: 700;
    line-height: 1.375;
    margin-bottom: 13px;
    height: 44px;
    overflow: hidden;

    &-link {
      color: #000;
      transition: color .3s;

      &:hover {
        color: $colorDark;
      }
    }
  }

  &-img {
    position: relative;
    display: block;
    padding-bottom: 100%;
    padding-bottom: Min(100%, 280px);

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      max-height: 100%;
      max-width: 100%;
    }
  }

  &-prices {
    margin-bottom: 10px;
    line-height: 1.2;

    & > * {
      display: inline-block;
      margin-right: 15px;
      margin-bottom: 5px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-price {
    @include fz(22);
    font-weight: 700;

    &-red {
      @include fz(22);
      font-weight: 700;
      color: $primary
    }
    &-old {
      text-decoration: line-through;
      color: $gray;
      @include fz(16);
    }

    &-unit {
      font-weight: 400;
      @include fz(16);
    }
  }

  &-btns {
    display: flex;
    align-items: center;
    margin-right: -8px;
  }
  &-btn {
    margin-bottom: 0;
    margin-right: 8px;
    flex: 0 0 calc(100% - 104px);

    svg#{&}-icon {
      display: none;
      visibility: hidden;
      width: 35px;
      height: 29px;
      fill: #FFF;
    }

    &.disabled {
      cursor: not-allowed;
      background-color: $disabled !important;
      color: $border !important;

      svg {
        fill: $border !important;
        filter: brightness(0.8);
      }
    }
  }

  &-characters {
    position: absolute;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
    top: 100%;
    padding: 0px 20px 16px;
    background-color: #FFF;
    box-shadow: $shadow;
    border-radius: 0px 0px 8px 8px;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: -16px;
      height: 16px;
      background: #FFF;
    }
  }
  &-character {
    margin-bottom: 2px;
    color: $gray_trn;

    &-value {
      color: #000;
      font-weight: 600;
    }
  }

  &.opened {
    @media (min-width: 1025px) {
      .product-card-stickers {
        display: block;
      }
      .product-card-arrow-icon {
        transform: translate(-50%, -50%) rotate(180deg);
      }
    }
  }

  .ui-action {
    z-index: 2;
    flex: 0 0 40px;
    max-width: 40px;
    margin-right: 0;
  }

  &:hover {
    @media (min-width: 1025px) {
      .product-card-characters {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  @media (max-width: 768.99px) {
    padding: 16px;
    display: flex;

    &-top {
      flex: 0 0 92px;
      max-width: 92px;

      .product-card-code {
        display: block;
        white-space: normal;
        padding-left: 0;
        margin-right: -5px;
      }
    }
    &-mid {
      width: 100%;
      padding-left: 16px;
    }

    &-topline {
      position: static;
      margin-bottom: 8px;
    }
    &-sticker {
      padding: 0px 5px;
      max-width: 100%;
      margin-right: 0;
    }
    &-arrow {
      display: none;
    }
    &-img {
      margin-bottom: 8px;
    }
    &-rateline {
      display: none;
    }
    &-title {
      margin-bottom: 8px;
    }
    &-characters {
      position: static;
      padding: 0;
      opacity: 1;
      visibility: visible;
      box-shadow: none;
      border-radius: 0;
      margin-bottom: 8px;

      &:before {
        content: none;
      }
    }
    &-btn {
      font-size: 0;
      padding: 5px;

      svg.product-card-btn-icon {
        display: block;
        visibility: visible;
        margin: 0 auto;
      }
    }
    &-btns {
      width: 180px;
      max-width: 100%;
    }
  }

  @media (max-width: 680.99px) {
    margin-bottom: 16px;
    min-height: none;

    &-title {
      height: auto;
      max-height: 44px;
    }
  }

  @media (max-width: 360px) {
    padding: 15px;

    &-top {
      flex: 0 0 85px;
      max-width: 85px;

      .product-card-code {
        @include fz(13);
      }
    }
    &-mid {
      padding-left: 12px;
    }
  }
}