[class*="-rating"] {
  display: inline-block;
  line-height: 1;
}

[class*="-rating-value"] {
  display: inline-block;
  vertical-align: bottom;
  line-height: 1;
  font-family: $ffOpenSans;
  font-weight: 700;
  @include fz(14);
  color: rgba(0, 0, 0, 0.7);
}

[class*="-rating-body"] {
  display: inline-block;
  position: relative;
  font-size: 16px;
  line-height: 1;
  margin-right: 5px;
  letter-spacing: 1.5px;

  &::before {
    content: '★★★★★';
    display: block;
    color: #D3D3D3;
  }
}

[class*="-rating-items"] {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

[class*="-rating-item"] {
  height: 100%;
  opacity: 0;
}

[class*="-rating-active"] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;

    &::before {
      content: "★★★★★";
      position: absolute;
      // font-weight: 900;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      color: #FFC100;
    }
}