// Stickers
.page-stickers {
  margin-bottom: 13px;
  overflow-x: auto;
  white-space: nowrap;
}
/* хром, сафари */
.page-stickers::-webkit-scrollbar {
  width: 0;
}

/* ie 10+ */
.page-stickers {
  -ms-overflow-style: none;
}

/* фф (свойство больше не работает, других способов тоже нет)*/
.page-stickers {
  overflow: -moz-scrollbars-none;
}
.ui-sticker {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  line-height: 30px;
  border: 1px solid $yellow;
  background-color: #FFF;
  padding: 0 16px;
  text-align: center;
  @include fz(14);
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 6px;
  margin-bottom: 8px;
  transition: 0.3s ease;
  color: $yellow;

  &:hover {
    color: #fff;
    background-color: $yellow;
  }

  &-mini {
    height: 24px;
    line-height: 22px;
  }

  &-blue {
    color: #1a66ae;
    border-color: #1a66ae;
    &:hover {
      color: #fff;
      background: #1a66ae;
    }
  }
  &-green {
    color: #559e53;
    border-color: #559e53;
    &:hover {
      color: #fff;
      background: #559e53;
    }
  }
  &-purple {
    color: #7d3e8c;
    border-color: #7d3e8c;
    &:hover {
      color: #fff;
      background: #7d3e8c;
    }
  }
  &-red {
    color: #bc0000;
    border-color: #bc0000;
    &:hover {
      color: #fff;
      background: #bc0000;
    }
  }
  &-orange {
    color: #f28705;
    border-color: #f28705;
    &:hover {
      color: #fff;
      background: #f28705;
    }
  }
  &-cyan {
    color: #83dbe4;
    border-color: #83dbe4;
    &:hover {
      color: #fff;
      background: #83dbe4;
    }
  }
}


