.docs-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 0px 1px $border;
  background-color: #fff;
  padding: 7px 16px;
  border-radius: 5px;
  width: 100%;
  min-height: 64px;
  margin-bottom: 16px;
  transition: .3s box-shadow;
  @include fz(14);
  font-weight: 600;
  color: #000;

  @media (max-width: 1025px) {
    padding: 8px 8px 8px 16px;
  }

  &-title {
    width: 70%;
    font-weight: 600;
    font-size: rem(14);
    width: 100%;

    //@media (max-width: 1355px) {
    //  width: 178px;
    //}
  }

  &-format {
    flex: 0 0 50px;
    text-align: right;
    margin-left: 15px;
    font-size: rem(12);
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &-icon {
    min-width: 48px;
    width: 48px;
    height: 48px;
    border-radius: 5px;
    margin-left: 16px;
    transition: .3s background-color;
  }

  &:hover {
    box-shadow: $shadow;
    color: $secondary;

    .docs-link-icon.green {
      background-color: #9CC19B;
    }
    .docs-link-icon.red {
      background-color: #DF908A;
    }
    .docs-link-icon.blue {
      background-color: #8CB2D6;
    }
    .docs-link-icon.yellow {
      background-color: #F9DE8E;
    }
  }
}